<section class="Home__logos py-7">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-5">سازمان‌ها و نهادها</h2>
        </div>
    </div>
    <div class="wrapper flex wrap justify-space-between mx-auto">
        {% for partner in partners %}
            <div class="flex-column align-center partner-item text-center">
                <img src="{{theme.link}}/assets/images/partners/{{ partner.id }}.svg" />
                <span>{{ partner.label }}</span>
            </div>
        {% endfor %}
    </div>
</section>
