<section class="Home__other-platforms py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-5">سایر پلتفرم‌های کارگزاری مفید</h2>
            <div class="cover mb-4 flex justify-center">
                <img src="{{ theme.link }}/assets/images/bourse-view.png" data-content-type="1" data-content-id="1">
                <img src="{{ theme.link }}/assets/images/pellekan.png" data-content-type="1" data-content-id="2">
            </div>
            <div class="flex-column tab-view">
                <div class="tabs flex justify-center">
                    <button class="px-4 py-2 active" data-tab-type="1" data-tab-id="1">بورس ویو</button>
                    <button class="px-4 py-2" data-tab-type="1" data-tab-id="2">پلکان</button>
                </div>
                <div class="content py-4">
                    <div class="tab-view-item active" data-tab-id="1">
                        <div class="flex-column align-center">
                            <p class="mb-5">
                                سامانه تحلیلی بورس ویو علاوه بر گردآوری و انتشار اطلاعات مرتبط با تحلیل بنیادی شرکت‌ها در سریع‌ترین زمان و با بالاترین دقت، ابزاری کاربردی برای تحلیل تکنیکال و تابلوخوانی محسوب می‌شود. با بورس ویو به تمام اطلاعات و ابزار مورد نیاز خود برای تحلیل یک‌جا دسترسی خواهید داشت.
                            </p>
                            <ul class="items flex align-center mb-6">
                                <li class="mx-4 flex align-center">انواع نمودارها</li>
                                <li class="mx-4 flex align-center">صورت‌های مالی</li>
                                <li class="mx-4 flex align-center">اطلاعات بنیادی، تابلوخوانی و تکنیکال نمادها</li>
                                <li class="mx-4 flex align-center">مشاهده مجامع و اطلاعیه‌ها</li>
                                <li class="mx-4 flex align-center">نقشه بازار پیشرفته</li>
                            </ul>
                            <div class="footer flex justify center">
                                <a class="more flex align-center" href="#">کسب اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-view-item" data-tab-id="2">
                        <div class="flex-column align-center">
                            <p class="mb-5">
                                پلکان، باشگاه مشتریان کارگزاری مفید است. با وجود پلکان، هیچ فعالیتی در کارگزاری مفید بدون پاداش نمی‌ماند. اساس پلکان بر امتیاز است و می‌توانید متناسب با امتیازهای خود، از پاداش‌های پلکان استفاده کنید.
                            </p>
                            <ul class="items flex align-center mb-6">
                                <li class="mx-4 flex align-center">بسته‌های اعتباری</li>
                                <li class="mx-4 flex align-center">کارت‌های هدیه</li>
                                <li class="mx-4 flex align-center">سبد پیشنهادی سهام</li>
                                <li class="mx-4 flex align-center">پاداش‌های درخواستی</li>
                            </ul>
                            <div class="footer flex justify center">
                                <a class="more flex align-center" href="#">کسب اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
