<section class="Banner py-6">
    <div class="container-sm">
        <div class="wrapper flex align-center justify-space-between">
            <div class="texts flex-column">
                <span class="title t-24 text-darker mb-3">انتقادات و پیشنهادات</span>
                <p class="t-16 lh-26 text-darker">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با لورم ایپسوم متن ساختگی با تولید
                </p>
            </div>
            <button class="Button green">ارسال پیام</button>
        </div>
    </div>
</section>
