<section class="Banner py-6">
    <div class="container-sm">
        <div class="wrapper flex align-center justify-space-between">
            <div class="texts flex-column">
                <p class="t-16 lh-26 text-darker">
                    ما متعهد به پاسخگویی به شما هستیم. چنانچه هرگونه انتقاد یا پیشنهادی دارید، می‌توانید آن‌ را از طریق لینک رو به رو ثبت کنید تا در اسرع وقت به آن رسیدگی شود.
                </p>
            </div>
            <button class="Button green">ثبت پیشنهاد، انتقاد و شکایت</button>
        </div>
    </div>
</section>
