<section class="Companies py-6">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-6">ارتباط با بخش های مختلف شرکت</h2>
            <div class="tabs-wrapper flex-column align-center">
                <div class="tabs hide-scrollbar flex-column">
                    <div class="head flex justify-center">
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="1">کارگزاری مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="2">انتخاب مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="3">پردازش اطلاعات مالی پویا</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="4">مشاور سرمایه گذاری ایده مفید</button>
                    </div>
                </div>
                <div class="body">
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="1">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۰۲۱-۹۱۰۰۸۷۰۰</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">8700@emofid.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="2">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۷</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@mofidentekhab.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۹</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="3">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۳</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@pouyafinance.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="4">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۱۷۵۶</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@mofididea.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
