<section class="Contacts mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-7">راه های ارتباطی با کارگزاری مفید</h2>
            <div class="cols flex justify-space-between">
                <div class="col flex-column">
                    <div class="box phone flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">تماس تلفنی</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به ۵۰۰۰ تماس روزانه</span>
                        <div class="value w-100 text-center text-darker t-16 lh-26 py-2">۰۲۱۸۷۰۰۹۷۰۰</div>
                    </div>
                </div>
                <div class="col flex-column">
                    <div class="box chat flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">چت آنلاین</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به ۳۰۰۰ پیام روزانه</span>
                    </div>
                </div>
                <div class="col flex-column">
                    <div class="box mail flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">ایمیل</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به ۶۰۰۰ ایمیل روزانه</span>
                        <div class="value w-100 text-center text-darker t-16 lh-26 py-2 ltr">8700@emofid.com</div>
                    </div>
                </div>
            </div>
            <div class="others flex justify-space-between">
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="#">صفحه پشتیبانی</a>
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="#">پاسخگویی در شبکه های اجتماعی</a>
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="#">سایت آموزش مفید</a>
            </div>
        </div>
    </div>
</section>
