.About__careers {
  .collapse-item {
    h3 {
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        left: var(--space-4);
        top: 50%;
        transform: translateY(-50%);
        background: url("../../src/images/icons/chevron-down-gray.svg")
          no-repeat scroll center / 100% auto;
        transition: var(--transition);
      }
    }

    &.active {
      h3 {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .collapse-content {
        max-height: 1000px;
      }
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
  }
}
