.About__holding {
  background: var(--color-mofid-blue) url("../../src/images/sin.svg") no-repeat
    scroll center / cover;

  .logos {
    .darayi {
      width: 210px;
      height: auto;
    }

    .idea {
      width: 164px;
      height: auto;
    }

    .pouya {
      width: 150px;
      height: auto;
    }

    img {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .text {
    ul {
      li {
        line-height: 30px;
        list-style: disc;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .About__holding {
    background-size: 860px;
    background-position: 0 50px;

    .wrapper {
      flex-direction: column;
    }

    .logos {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: var(--space-6);

      img {
        width: calc(50% - 32px) !important;
        margin-bottom: var(--space-4) !important;
      }
    }

    .text {
      padding: 0;

      h1 {
        text-align: center;
        margin-bottom: var(--space-4);
      }

      ul {
        padding: 0 var(--space-4);
      }
    }
  }
}
