.About__honors {
  background-color: #002027;

  .wrapper {
    .texts {
      width: 530px;
      max-width: 100%;
    }

    .certs {
      img {
        width: calc(50% - 2rem);
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .About__honors {
    .wrapper {
      .certs {
        flex-direction: column;

        img {
          width: calc(100% - 1rem);
        }
      }
    }
  }
}
