.About__honors {
  .swiper.honors {
    width: 100%;
    overflow: hidden;

    .swiper-wrapper {
      width: 100%;

      .swiper-slide {
        cursor: pointer;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
        }

        .more {
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            margin-right: var(--space-2);
            background: url("../images/icons/arrow-left.svg") no-repeat scroll
              center;
          }
        }
      }
    }

    .honors-scrollbar {
      flex: 1;
      margin-left: var(--space-2);
      height: 3px;
    }

    .next-honor {
      background-color: var(--color-gray-light);
      cursor: pointer;
      z-index: 1000;
      position: inherit;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      padding-top: 7px;
      float: left;
      left: 10%;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: var(--space-2);
        background: url("../images/icons/arrow-left.svg") no-repeat scroll
          center;
      }
    }
  }

  .slider-footer {
    width: 740px;
    max-width: 100%;
    margin: 0 auto;
  }

  .swiper-scrollbar-drag {
    background-color: var(--color-mofid-green);
  }
}
