.About__over-time {
  .left {
    .cover-image {
      border-radius: var(--radius-small);
    }
  }

  .tabs {
    .head {
      .inner {
        width: 100%;

        .tab {
          border-bottom: 2px solid var(--color-gray-2);
          padding-bottom: var(--space-2);
          font-size: 16px;
          height: 70px;

          &::before {
            content: "";
            position: relative;
            width: 18px;
            height: 18px;
            right: 0px;
            background-color: var(--color-white);
            top: 60px;
            border-radius: 50%;
            z-index: 1;
            display: block;
            border: 2px solid var(--color-mofid-green);
          }

          &.active {
            &::before {
              background-color: var(--color-mofid-green);
            }
          }

          span {
            margin-right: -10px;
            color: var(--color-text-darker);
          }
        }
      }
    }
  }

  .contents {
    .more {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: var(--space-2);
        background: url("../images/icons/arrow-left.svg") no-repeat scroll
          center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .About__over-time {
    margin-bottom: var(--space-7);

    h2 {
      font-size: 18px;
    }

    .tabs {
      position: relative;

      .head {
        display: block;
        width: 100vw;
        margin: 0 calc((100vw - 100%) / -2);
        overflow-x: auto;

        &::after {
          content: "";
          height: 118px;
          width: 80px;
          background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
          top: 0;
          left: calc((100vw - 100%) / -2);
          position: absolute;
          z-index: 1;
        }

        .inner {
          width: 1142px;
        }
      }
    }

    .right {
      .inner {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
