.About__possibilities {
  .item {
    .icon {
      width: 110px;
      height: 110px;

      &.icon-1 {
        background: url("../../src/images/icons/about/icon-1.svg") no-repeat
          scroll center / cover;
      }

      &.icon-2 {
        background: url("../../src/images/icons/about/icon-2.svg") no-repeat
          scroll center / cover;
      }

      &.icon-3 {
        background: url("../../src/images/icons/about/icon-3.svg") no-repeat
          scroll center / cover;
      }

      &.icon-4 {
        background: url("../../src/images/icons/about/icon-4.svg") no-repeat
          scroll center / cover;
      }

      &.icon-5 {
        background: url("../../src/images/icons/about/icon-5.svg") no-repeat
          scroll center / cover;
      }
    }

    .text {
      width: 188px;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .About__possibilities {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      width: 50%;
      margin-bottom: var(--space-5);
      padding: 0 var(--space-2);

      .icon {
        width: 86px;
        height: 86px;
      }

      .text {
        font-size: var(--size-text-14);
      }
    }
  }
}
