.Trades__grids {
  .grid-item {
    max-width: 100%;

    &:nth-child(1) {
      h3 {
        &::before {
          content: "";
          width: 30px;
          height: 20px;
          background: url("../images/icons/trades/logo-easy.png") no-repeat scroll center/30px 20px;
          margin-left: var(--space-2);
          display: inline-flex;
        }
      }
    }

    &:nth-child(2) {
      h3 {
        &::before {
          content: "";
          width: 18px;
          height: 18px;
          background: url("../images/icons/trades/logo-mofidtrader.png") no-repeat scroll center/18px 18px;
          margin-left: var(--space-2);
          display: inline-flex;
        }
      }
    }

    &:nth-child(3) {
      h3 {
        &::before {
          content: "";
          width: 30px;
          height: 20px;
          background: url("../images/icons/trades/logo-plus.png") no-repeat scroll center/30px 20px;
          margin-left: var(--space-2);
          display: inline-flex;
        }
      }
    }

    .first {
      .cover {
        width: 100%;
      }
    }

    .cover {
      height: auto;
      width: 80%;
      margin: 0 auto;

      &.mobile {
        display: none;
      }
    }

    .content {
      &.fixed-height {
        height: 420px;
      }

      .right {
        width: 50%;
      }

      .left {
        width: 50%;
        background: url("../images/easy-mockup.png") no-repeat scroll center /
            625px auto,
          url("../images/easy-bg.svg") no-repeat scroll center / cover;
      }

      p {
        width: 450px;
        height: 130px;
        max-width: 100%;
      }

      .footer {
        .more {
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            margin-right: var(--space-2);
            background: url("../images/icons/arrow-left.svg") no-repeat scroll
              center;
          }
        }
      }
    }
  }

  &::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
  }
}

@media only screen and (max-width: 576px) {
  .Trades__grids {
    .grid-desc {
      padding: 0 var(--space-3);
      font-size: var(--size-text-14);
    }

    h2 {
      font-size: var(--size-text-20);
      order: 0;
    }

    .grid-item {
      max-width: calc(100vw);
      margin-right: calc((100vw - 100%) / -2);
      margin-left: calc((100vw - 100%) / -2);

      .cover {
        display: none;
        &.mobile {
          display: inherit;
        }
      }

      .inner {
        box-shadow: none;
        border-radius: 0;

        &:not(.first) {
          height: auto;

          .cover {
            display: block;
          }
        }
      }
      .content {
        flex-direction: column;
        padding: var(--space-6) var(--space-4);

        &.fixed-height {
          height: auto;
        }

        .right,
        .left {
          width: 100%;
          padding: 0;
        }

        .right {
          order: 2;

          h3 {
            text-align: center;
          }

          .footer {
            justify-content: center;
            flex-direction: column;

            a {
              margin-left: 0;
            }

            .more {
              padding: var(--space-2) var(--space-3);
              margin-top: var(--space-3);
            }
          }
        }

        p {
          font-size: var(--size-text-14);
          text-align: center;
          height: 100%;
        }

        .left {
          order: 1;
          height: 225px;
          background: url("../images/easy-mockup.png") no-repeat scroll center /
              100% auto,
            url("../images/easy-bg.svg") no-repeat scroll center / auto 100%;
          margin-bottom: var(--space-5);
        }

        .footer {
          flex-direction: column;

          a {
            margin-left: 0;
          }

          .more {
            margin-top: var(--space-3);
          }
        }
      }
    }
  }
}
