.Trades__single {
  .right {
    p {
      width: 460px;
      max-width: 100%;
    }

    ul {
      li {
        &::before {
          content: "";
          border-radius: 50%;
          margin-left: var(--space-2);
          width: 18px;
          height: 18px;
          background: var(--color-mofid-green)
            url("../images/icons/check-white.svg") no-repeat scroll center;
        }
      }
    }

    .footer {
      .more {
        &::after {
          content: "";
          width: 10px;
          height: 10px;
          margin-right: var(--space-2);
          background: url("../images/icons/arrow-left.svg") no-repeat scroll
            center;
        }
      }
    }
  }

  .left {
    .cover {
    }
  }

  &::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
  }
}

@media only screen and (max-width: 576px) {
  .Trades__single {
    .wrapper {
      padding: 0;
    }

    .footer {
      justify-content: center;
    }

    .right {
      order: 1;
      padding: 0;

      h3 {
        text-align: center;
      }

      p {
        font-size: var(--size-text-14);
        padding: var(--space-3) 0;
        text-align: center;
      }
    }

    .left {
      order: 0;
      margin-bottom: var(--space-5);

      .cover {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
