.Trades__top {
  scroll-margin-top: 100px;
  
  .icon-item {
    .icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--color-duo);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px auto;

      &.icon-1 {
        background-image: url("../images/icons/trades/ico-1.svg");
      }

      &.icon-2 {
        background-image: url("../images/icons/trades/ico-2.svg");
      }

      &.icon-3 {
        background-image: url("../images/icons/trades/ico-3.svg");
      }

      &.icon-4 {
        background-image: url("../images/icons/trades/ico-4.svg");
      }

      &.icon-5 {
        background-image: url("../images/icons/trades/ico-5.svg");
      }
    }

    .label {
    }
  }

  .texts {
    scroll-margin-top: 150px;

    p {
      width: 730px;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .Trades__top {
    padding-top: var(--space-4);
    margin-bottom: var(--space-7);

    h1 {
      order: 0;
      margin-bottom: var(--space-5);
      font-size: var(--size-text-20);
    }

    .icons {
      flex-wrap: wrap;
      justify-content: center;
      order: 1;
      margin-bottom: var(--space-5);

      .icon-item {
        margin: 0 0 var(--space-5);
        width: 50%;

        .label {
          font-size: var(--size-text-12);
        }
      }
    }

    .texts {
      order: 2;

      p {
        padding: 0 var(--space-3);
        font-size: var(--size-text-14);
      }
    }
  }
}
