.AboutOverTime {
  .left {
    .cover-image {
      border-radius: var(--radius-small);
    }
  }

  .tabs {
    .head {
      .inner {
        width: 100%;

        .tab {
          border-bottom: 2px solid var(--color-gray-2);
          padding-bottom: var(--space-2);
          font-size: 16px;
          height: 70px;

          &::before {
            content: '';
            position: relative;
            width: 18px;
            height: 18px;
            right: 0px;
            background-color: var(--color-gray-2);
            top: 60px;
            border-radius: 50%;
            z-index: 1;
            display: block;
          }

          &.active {
            
            &::before {
              background-color: var(--color-mofid-green);
            }
          }

          span {
            margin-right: -10px;
            color: var(--color-text-darker);
          }
        }
      }
    }
  }

  .contents {
    .more {
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: var(--space-2);
        background: url("../images/icons/arrow-left.svg") no-repeat scroll
          center;
      }
    }
  }
}

@import "./AboutOverTime.responsive.scss";