.alert {
    border-radius: 8px;
    padding: var(--space-4);
    margin-bottom: var(--space-5);

    .title {
        &::before {
            content: "";
            width: 16px;
            height: 16px;
            display: inline-flex;
            padding-bottom: 4px;
            margin-left: 9px;
        }
    }

    hr {
        margin-top: 12px;
        margin-bottom: 12px;
        border-right : 0;
        border-left: 0;
    }

    p {
        font-size: var(--size-text-12);
        line-height: 18px;
    }

    // danger
    &.alert-danger {
        background-color: #FBE4E5;

        .title {
            color: #DC3545;

            &::before {
                background: url("../images/icons/alert-error.svg") no-repeat scroll center;
            }
        }

        hr {
            border-top: 1px solid #ED8F94;
        }

        p {
            color: #30353F;
        }
    }
}