@media only screen and (max-width: 576px) {
    .Banner {
        .wrapper {
            flex-wrap: wrap;

            .texts {
                width: 100%;

                .title {
                    font-size: var(--size-text-20);
                    font-weight: 900;
                    text-align: center;
                    width: 100%;
                }

                p {
                    font-size: var(--size-text-14);
                    color: var(--color-text-medium);
                    text-align: center;
                    margin-bottom: var(--space-4);
                }
            }

            button {
                margin: 0 auto;
            }
            
        }
    }
}
