.Branches {
  background-color: var(--color-gray-light);

  .gallery {
    width: 100%;

    &:before {
      content: "";
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(
        to left,
        rgb(242, 243, 246),
        rgba(242, 243, 246, 0)
      );
      z-index: 999;
      transition : all 1s;
    }
    &:after {
      content: "";
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        rgb(242, 243, 246),
        rgba(242, 243, 246, 0)
      );
      z-index: 999;
      transition : all 1s;
    }

    .gallery-wrapper {
      width: 100%;

      .gallery-item {
        cursor: pointer;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .options {
    .on-map {
      &:before {
        content: "";
        width: 22px;
        height: 22px;
        background: url("../images/icons/map-colorful.svg") no-repeat scroll
          center/ cover;
        margin-left: 0.4rem;
      }
    }

    .branches {
      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background: url("../images/icons/arrow-left.svg") no-repeat scroll
          center/ cover;
        margin-right: 0.4rem;
      }
    }
  }
}

@import "./Branches.responsive.scss";
