.Calculators {
    background-color: var(--color-light-bg);

    .wrapper {

        .switcher {
            width: 340px;
            height: 43px;
            background-color: var(--color-gray-light);

            &::before {
                content: "";
                background-color: var(--color-white);
                border-radius: var(--radius-small);
                position: absolute;
                width: calc(50% - 3px);
                height: calc(100% - 6px);
                top: 3px;
                right: 3px;
                z-index: 1;
                transition: var(--transition-fast);
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            }

            &.changed {

                &::before {
                    right: 170px;
                }
            }

            span {
                flex: 1;
                z-index: 2;
                line-height: 37px;
            }
        }
    }

    .tab-header {
        img {
            margin-left: var(--space-5);
        }

        div {
            margin-bottom: 0 !important;
        }
    }
}

@import "./Calculators.responsive.scss";
