.Companies {
  .tabs-wrapper {
    .tabs {
      width: 640px;
      .head {
        button {
          background-color: transparent;
          border: none;
          border-bottom: 3px solid var(--color-gray-2);

          &.active {
            border-bottom-color: var(--color-mofid-green);
            color: var(--color-mofid-green);
          }
        }
      }
    }
    .body {
      width: 640px;
      max-width: 100%;

      .contact-details {
        .item {
          width: 350px;
          border-bottom: 1px solid var(--color-gray-light);

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
