@media only screen and (max-width: 576px) {
    .Contacts {
        margin-bottom: var(--space-6);
        
        .wrapper {
            padding: 0 10px;

            h2 {
                font-size: var(--size-text-18);
            }

            .cols {
                flex-wrap: wrap;
                justify-content: center;

                .col {
                    width: calc(50% - 10px);
                    margin: 0 5px 50px;

                    .box {
                        height: 208px;

                        .circle-icon {
                            width: 64px;
                            height: 64px;
                            background-size: 26px auto;
                        }

                        .caption {
                            text-align: center;
                            padding: 0 10px;
                        }
                    }
                }
            }

            .others {
                flex-wrap: wrap;

                .small-box {
                    width: 100%;
                    max-width: 290px;
                    margin: 0 auto 10px;
                }
            }
        }
    }
}
