.ContactCards {
  .wrapper {
    .cols {
      .col {
        width: 255px;

        .box {
          height: 198px;

          .circle-icon {
            width: 80px;
            height: 80px;
            background-color: var(--color-duo);
            margin-top: -40px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 32px auto;
          }

          &.phone {
            .circle-icon {
              background-image: url("../images/icons/contact/Phone.svg");
            }
          }

          &.chat {
            .circle-icon {
              background-image: url("../images/icons/contact/Chat.svg");
            }
          }

          &.mail {
            .circle-icon {
              background-image: url("../images/icons/contact/Email.svg");
            }
          }

          .value {
            background-color: var(--color-gray-light);
          }
        }
      }
    }

    .others {
      .small-box {
        width: 255px;
        max-width: 100%;

        &:after {
          content: "";
          width: 10px;
          height: 10px;
          background: url("../images/icons/arrow-left.svg") no-repeat scroll
            center;
          margin-right: var(--space-2);
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .ContactCards {
    margin-bottom: var(--space-6);

    .wrapper {
      h2 {
        font-size: var(--size-text-18);
      }

      .cols {
        flex-wrap: wrap;
        justify-content: center;

        .col {
          width: calc(50% - 10px);
          margin: 0 5px 50px;

          &:last-child {
            width: 100%;
          }

          .box {
            height: 208px;

            .circle-icon {
              width: 64px;
              height: 64px;
              background-size: 26px auto;
            }

            .caption {
              text-align: center;
              padding: 0 10px;
            }
          }
        }
      }

      .others {
        flex-wrap: wrap;

        .small-box {
          width: 100%;
          max-width: 290px;
          margin: 0 auto 10px;
        }
      }
    }
  }
}
