.Faq {
  .collapse-item {
    border-bottom: 1px solid var(--color-gray);

    &.active {
      .collapse-head {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      .collapse-body {
        max-height: 400px;
      }
    }
  }

  .collapse-head {
    color: var(--color-mofid-green);

    &::after {
      content: "";
      width: 13px;
      height: 13px;
      background: url("../images/icons/chevron-down-green.svg") no-repeat scroll
        center / 100% auto;
      position: absolute;
      left: var(--space-4);
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
    }
  }

  .collapse-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
}
