.Footer {
  .up {
    background-color: var(--color-gray-light);

    .wrapper {
      .support {
        font-size: var(--size-text-16);
        color: var(--color-mofid-blue);
        flex-direction: column;

        span {
          &:last-child {
            font-size: smaller;
            text-align: center;
          }
        }
      }

      .email-phone {
        color: var(--color-text-darker);
        margin-right: auto;

        .phone {
          &::after {
            content: "";
            width: 29px;
            height: 24px;
            background: url("../images/icons/footer-up-247.svg") no-repeat
              scroll center/ cover;
            margin-right: var(--space-2);
          }
        }

        .value {
          font-weight: bold;
        }
      }
    }
  }

  .middle {
    .wrapper {
      .title {
        font-size: var(--size-text-16);
        font-weight: bold;
        color: var(--color-text-dark);
      }

      .menu {
        li {
          color: var(--color-text-darker);
        }
      }
    }

    .float-widget {
      border-top: 1px solid var(--color-gray);
      border-bottom: 1px solid var(--color-gray);

      .socials {
        a {
          width: 18px;
          height: 18px;

          &.instagram {
            background: url("../images/icons/social/instagram.svg") no-repeat
              scroll center / cover;
          }

          &.linkedin {
            background: url("../images/icons/social/linkedin.svg") no-repeat
              scroll center / cover;
          }

          &.telegram {
            background: url("../images/icons/social/telegram.svg") no-repeat
              scroll center / cover;
          }

          &.aparat {
            background: url("../images/icons/social/aparat.svg") no-repeat
              scroll center / cover;
          }
        }
      }

      .newsletter {
        border-radius: var(--radius-small);
        overflow: hidden;

        p {
          line-height: var(--space-5);
        }

        input {
          background-color: var(--color-gray-light);
          border: 1px solid var(--color-gray);
          border-radius: var(--radius-small);
          width: 460px;
          max-width: 100%;
          padding-left: 150px;
        }

        .newsletter-form {
          button {
            width: 140px;
            left: 0;
            top: var(--space-5);
            background-color: var(--color-mofid-green);
            color: var(--color-white);
            border: none;
            height: 39px;
            border-radius: var(--radius-small) 0 0 var(--radius-small);
          }
        }
      }
    }
  }

  .bottom {
    color: var(--color-text-darker);

    .version {
      font-size: 11px;
      background: var(--color-duo);
      padding: 5px 10px 3px;
      border-radius: var(--radius-large);
      color: var(--color-text-lighter);
    }
  }
}

@media only screen and (max-width: 48em) {
  .Footer {
    .up {
      .wrapper {
        flex-direction: column;

        .support {
          flex-direction: column;
          text-align: center;

          .label {
            font-weight: bold;
            margin-bottom: var(--space-2);
          }
        }

        .email-phone {
          margin-right: 0;
          margin-top: var(--space-3);
        }

        .caption {
          margin: 0;
          text-align: center;
          justify-content: center;
        }
      }
    }

    .middle {
      .wrapper {
        > div {
          margin-bottom: var(--space-5);
        }
      }

      .menu {
        flex-direction: row;
        flex-wrap: wrap;

        li {
          width: 50%;
          padding: 0 var(--space-2);
        }
      }

      .float-widget {
        flex-direction: column;

        .socials {
          margin-bottom: var(--space-5);
        }

        .email {
          margin: 0;
          text-align: center;
        }

        .newsletter {
          margin-top: var(--space-6);

          .newsletter-form {
            position: relative;

            input {
              width: 100%;
            }

            button {
              top: 0;
            }
          }
        }
      }
    }

    .bottom {
      p {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .version {
          margin-top: 0.25rem;
        }
      }
    }
  }
}
