@media only screen and (max-width: 576px) {
    .FundsTabs {
        .texts {
            .caption {
                font-size: var(--size-text-14);
            }
        }
        .tabs-wrapper {
            .tabs {
                overflow-x: auto;

                .inner {
                    width: 600px;

                    .tab {
    
                        span {
                            display: none;
                        }

                        h2 {
                            font-size: var(--size-text-14);
                            text-align: center;
                            width: 90px;
                        }
                    }
                }
            }

            .content {

                .caption {
                    order: 2;
                    padding: 0 var(--space-2);
                }

                .tabs-content {
                    order: 1;
                    margin-bottom: var(--space-5);
                    width: 100%;


                    .tab-content-item {
                        .outer {
                            width: 100%;
                            overflow-x: auto;
                            padding: 0 var(--space-3);

                            .funds-tabs {
                                width: fit-content;
                                width: -moz-fit-content;
                                width: -webkit-fit-content;
                                width: -o-fit-content;

                                .fund-name {
                                    white-space: nowrap;
                                }
                            }
                        }

                        .funds-contents {
                            .bar-item {

                                .bar-wrapper {
                                    width: 26px;
                                }

                                .bar-label {
                                    width: 62px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
