.HeaderAuth {
  .easy-trader {
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url("../images/icons/easytrader.svg") no-repeat scroll center;
      margin-left: var(--space-2);
    }
  }

  .search-btn {
    background-color: transparent;
    border: none;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: url("../images/icons/search.svg") no-repeat scroll center;
    }
  }
}

@media only screen and (max-width: 48em) {
  .HeaderAuth {
    .easy-trader {
      display: none;
    }

    .search-btn {
      display: none;
    }
  }
}
