.Header {
  padding: 24px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;

  .nav-wrapper {
    .mobile-nav-btn {
      display: none;
    }
  }

  .phone {
    &::after {
      content: "";
      width: 14px;
      height: 14px;
      background: url("../images/icons/phone.svg") no-repeat scroll center;
      margin-right: var(--space-2);
    }
  }
}

@import "./Header.responsive.scss";
