.HeaderAuth {
  flex-shrink: 0;

  .easy-trader {
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url("../images/icons/easytrader.svg") no-repeat scroll center;
      margin-left: var(--space-2);
    }
  }
}

@media only screen and (max-width: $tablet) {
  .HeaderAuth {
    margin-right: auto;

    .easy-trader {
      display: none;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .HeaderAuth {
    .Button {
      font-size: 12px;
    }
  }
}
