@media only screen and (max-width: 576px) {
  .HomeOtherPlatforms {
    h2 {
      font-size: var(--size-text-20);
    }
    .cover {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .tab-view {
      .content {
        .tab-view-item {
          .items {
            width: 100%;
            flex-wrap: wrap;

            li {
              width: 50%;
              margin: var(--space-2) 0;
            }
          }
        }
      }

      .tabs {
        button {
          font-size: var(--size-text-16);
        }
      }
    }
  }
}
