.HomeLogos {

    .wrapper {
        width: 998px;
        max-width: 100%;

        .partner-item {

            img {
                width: 110px;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 48em) {
    .HomeLogos {

        .wrapper {
            justify-content: center;

            .partner-item {
                width: 33.3333%;
                margin-bottom: var(--space-4);

                img {
                    width: 75px;
                }

                span {
                    font-size: var(--size-text-12);
                }
            }
        }
    }
}