@media only screen and (max-width: 576px) {
  .HomeLearning {
    padding-bottom: var(--space-4);

    h2 {
      font-size: 20px;
      text-align: center;
    }

    p {
      font-size: 16px;
      text-align: center;
    }

    .tab-view {
      .tabs {
        flex-direction: row;

        button {
          display: flex;
          flex-direction: column;

          span {
            width: 100%;
          }

          .day {
            text-align: center;
            font-size: var(--size-text-14);
          }

          .date {
            background-color: var(--color-gray-light);
            padding: var(--space-2) 0;
            border-radius: var(--radius-small);
          }
        }
      }

      .class-item {
        .content {
          .time {
            font-size: var(--size-text-12);
          }
          .title {
            font-size: var(--size-text-14);
          }
          .view {
            position: static;
            width: fit-content;
            width: -moz-fit-content;
            width: -webkit-fit-content;
            width: -o-fit-content;
          }
        }
      }
    }

    .data-boxes {
      > div {
        padding: 0 var(--space-2);
      }

      .box {
        background-color: transparent;
        padding: 0;
        margin-bottom: var(--space-6);

        .top {
          .icon {
            background-color: var(--color-gray-light);
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
