@media only screen and (max-width: 576px) {
    .IntroVideo {
        .wrapper {

            h1 {
                font-size: var(--size-text-20);
            }

            .video-wrapper {
                .inner {
                    border-radius: 0;
                }

                .play-btn {
                    width: 96px;
                    height: 96px;
                    left: 38px;
                    bottom: -48px;

                    &::before {
                        width: 80px;
                        height: 80px;
                    }

                    button {
                        width: 64px;
                        height: 64px;
                        background-size: 19px auto;
                    }
                }
            }

            p {
                font-size: var(--size-text-14);
            }

            .image {
                picture {
                    width: 100%;
                    
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
