@media only screen and (max-width: 576px) {
    .InvestmentPortfolioManagement {
        background: var(--color-amour);

        .right {
            order: 2;
            padding-right: var(--space-1);
            padding-left: var(--space-1);
        }

        .left {
            order: 1;
            padding-right: var(--space-1);
            padding-left: var(--space-1);
        }

        .free-consultation {
            justify-content: center;
        }
    }
}