.Navigation {
  > ul {
    > li {
      position: relative;
      line-height: 35px;

      &.header-apps-links {
        display: none;
        align-items: center;
        z-index: 2;

        &::before {
          content: "";
          width: 0;
          height: 24px;
          border-right: 1px solid var(--color-gray);
          margin-left: var(--space-3);
        }

        a {
          display: flex;
          align-items: center;
          padding-left: 20px;
        }

        .easytrader {
          &::before {
            content: "";
            width: 16px;
            height: 16px;
            background: url("../images/easy-logo.svg") no-repeat scroll center/
              100% auto;
            margin-left: var(--space-2);
          }
        }
      }

      > ul {
        position: absolute;
        top: 32px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: #fff;
        border-radius: var(--radius-small);
        width: 360px;
        max-width: 100vw;
        box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.07);
        display: flex;
        flex-direction: column;
        padding: 16px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.15s ease-in-out;

        > li {
          > a {
            padding: 16px 16px 16px 45px;
            transition: var(--transition);
            position: relative;

            &::after {
              position: absolute;
              content: "";
              width: 10px;
              height: 10px;
              left: 17px;
              top: 50%;
              margin: 0 auto;
              transform: translateY(-50%);
              background: url("../images/icons/arrow-left-green.svg") no-repeat
                scroll center / cover;
              opacity: 0;
              transition: var(--transition);
            }

            i {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              flex-shrink: 0;
              box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.07);
              background-color: var(--color-white);
            }

            .content {
              padding-right: 10px;

              .title,
              .caption {
                transition: var(--transition);
              }
            }

            &:hover {
              background-color: var(--color-mofid-green-light);

              &::after {
                opacity: 1;
              }

              .content {
                .title {
                  color: var(--color-mofid-green);
                }

                .caption {
                  color: var(--color-mofid-blue);
                }
              }
            }
          }

          > ul.footer {
            background-color: var(--color-gray-lighter);
            margin: 16px -16px -16px;

            > li {
              width: 50%;
            }
          }
        }
      }

      &:hover {
        > ul {
          opacity: 1;
          top: 36px;
          visibility: visible;
        }
      }
    }
  }
  .call-box {
    display: none;

    .box {
      width: 320px;
      max-width: 100%;
      background-color: var(--color-light-bg);

      .tell-btn {
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          background: url("../images/icons/phone.svg") no-repeat scroll center/
            100% auto;
          margin-right: var(--space-2);
        }
      }
    }
  }
}

@import "./Navigation.responsive.scss";
