@media only screen and (max-width: 576px) {
  .NewsNotifications {
    .contents {
      .title {
        display: none;
      }

      .texts {
        flex-direction: column;
        align-items: flex-start;

        p {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: var(--space-1);
        }
      }
    }
  }
}
