.NewsNotifications {
  .thumbnail {
    width: 120px;
  }

  .more {
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../images/icons/arrow-left.svg") no-repeat scroll center/
        cover;
      margin-right: 0.4rem;
    }
  }
}

@import "./NewsNotifications.responsive.scss";
