.NewsSlider {
  .more {
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../images/icons/arrow-left.svg") no-repeat scroll center/
        cover;
      margin-right: 0.4rem;
    }
  }

  .left {
    .thumbnail {
      width: 150px;
    }
  }
}

@import "./NewsSlider.responsive.scss";
