.Pagination {
  .page-number,
  .next,
  .prev,
  .dots {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white);

    &.current {
      background-color: var(--color-mofid-green);
      border-color: var(--color-mofid-green);
      color: var(--color-white);
    }
  }

  .next,
  .prev {
    background-image: url("../images/icons/chevron-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px auto;
  }

  .next {
    transform: rotate(90deg);
  }

  .prev {
    transform: rotate(-90deg);
  }
}
