.Spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.15)
    rgba(255, 255, 255, 0.9);
  animation: loading-spinner 0.4s linear infinite;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes loading-spinner {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
