.StickyHeader {
  background-color: var(--color-gray-light);
  z-index: 3;

  .wrapper {
    .logo {
      width: auto;
      height: 18px;
    }

    .navigation {
      a {
        font-size: var(--size-text-14);
        line-height: 41px;
      }
    }
  }

  .mobile-btn {
    width: 14px;
    height: 14px;
    border: none;
    background: transparent url("../images/icons/chevron-down.svg") no-repeat
      scroll center/ 100% auto;
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .StickyHeader {
    opacity: 1;

    .wrapper {
      .logo {
        height: 16px;
      }

      .navigation {
        position: absolute;
        top: 48px;
        width: 100vw;
        right: calc((100vw - 100%) / -2);
        background-color: var(--color-white);
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s,
          visibility 0s linear 1s;

        .inner {
          padding: var(--space-3) var(--space-5);
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
        }

        a {
          padding: var(--space-3) 0;
          width: 100%;
          border-bottom: 1px solid var(--color-gray-2);
          transform: translateY(-10px);
          opacity: 0;
          transition: all 0.15s ease-in-out;
          line-height: inherit;

          &:nth-child(1) {
            transition-delay: 0.4s;
          }

          &:nth-child(2) {
            transition-delay: 0.5s;
          }

          &:nth-child(3) {
            transition-delay: 0.6s;
          }

          &:nth-child(4) {
            transition-delay: 0.7s;
          }

          &:nth-child(5) {
            transition-delay: 0.8s;
          }

          &:last-child {
            border: none;
          }
        }
      }
    }

    .mobile-btn {
      display: inherit;
      transition: var(--transition-fast);
    }

    &.active {
      .navigation {
        max-height: calc(100vh - 170px);
        transition-delay: 0.2s, 0s;
        visibility: visible;

        a {
          transform: translateY(0px);
          opacity: 1;
        }
      }

      .mobile-btn {
        transform: rotate(180deg);
      }
    }

    .cta {
      display: none !important;
    }
  }

  #content {
    padding-top: 52px;
  }
}
