.StickyHeader {
  background-color: var(--color-gray-light);
  z-index: 3;

  .wrapper {
    .logo {
      width: auto;
      height: 18px;
    }

    .navigation {
      a {
        font-size: var(--size-text-14);
      }
    }
  }

  .mobile-btn {
    width: 14px;
    height: 14px;
    border: none;
    background: transparent url("../images/icons/chevron-down.svg") no-repeat
      scroll center/ 100% auto;
    display: none;
  }
}

@import "./StickyHeader.responsive.scss";
