@media only screen and (max-width: 576px) {
  .TradesGrids {
    h2 {
      font-size: var(--size-text-20);
      order: 0;
    }

    .grid-item {
      max-width: calc(100vw);
      margin-right: calc((100vw - 100%) / -2);
      margin-left: calc((100vw - 100%) / -2);

      .cover {
        display: none;
        &.mobile {
          display: inherit;
        }
      }

      .inner {
        box-shadow: none;
        border-radius: 0;

        &:not(.first) {
          height: auto;

          .cover {
            display: block;
          }
        }
      }
      .content {
        flex-direction: column;
        padding: var(--space-6) var(--space-3);

        &.fixed-height {
          height: auto;
        }

        .right,
        .left {
          width: 100%;
          padding: 0;
        }

        .right {
          order: 2;

          h3 {
            text-align: center;
          }

          .footer {
            justify-content: center;
          }
        }

        p {
          font-size: var(--size-text-14);
          text-align: center;
        }

        .left {
          order: 1;
          height: 225px;
          background: url("../images/easy-mockup.png") no-repeat scroll center /
              100% auto,
            url("../images/easy-bg.svg") no-repeat scroll center / auto 100%;
          margin-bottom: var(--space-5);
        }
      }
    }
  }
}
