.TradesGrids {
  .grid-item {
    max-width: 100%;

    .first {
      .cover {
        width: 100%;
      }
    }

    .cover {
      height: auto;
      width: 80%;
      margin: 0 auto;

      &.mobile {
        display: none;
      }
    }

    .content {
      &.fixed-height {
        height: 420px;
      }

      .right {
        width: 50%;
      }

      .left {
        width: 50%;
        background: url("../images/easy-mockup.png") no-repeat scroll center /
            625px auto,
          url("../images/easy-bg.svg") no-repeat scroll center / cover;
      }

      p {
        width: 450px;
        height: 130px;
        max-width: 100%;
      }

      .footer {
        .more {
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            margin-right: var(--space-2);
            background: url("../images/icons/arrow-left.svg") no-repeat scroll
              center;
          }
        }
      }
    }
  }

  &::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
  }
}

@import "./TradesGrids.responsive.scss";
