<div class="HeaderAuth mr-auto flex align-center">
    <a class="easy-trader flex align-center ml-4" href="#">ایزی تریدر</a>
    <button class="search-btn ml-2 flex"></button>
    <a class="Button outline ml-1" href="#">ورود</a>
    <a class="Button" href="#">دریافت کد بورسی</a>
</div>