@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/dana/eot/dana-fanum-extralight.eot");
  src: url("../fonts/dana/eot/dana-fanum-extralight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dana/woff2/dana-fanum-extralight.woff2") format("woff2"),
    url("../fonts/dana/woff/dana-fanum-extralight.woff") format("woff"),
    url("../fonts/dana/ttf/Dana-FaNum-ExtraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dana/eot/dana-fanum-medium.eot");
  src: url("../fonts/dana/eot/dana-fanum-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dana/woff2/dana-fanum-medium.woff2") format("woff2"),
    url("../fonts/dana/woff/dana-fanum-medium.woff") format("woff"),
    url("../fonts/dana/ttf/Dana-FaNum-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/dana/eot/dana-fanum-bold.eot");
  src: url("../fonts/dana/eot/dana-fanum-bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dana/woff2/dana-fanum-bold.woff2") format("woff2"),
    url("../fonts/dana/woff/dana-fanum-bold.woff") format("woff"),
    url("../fonts/dana/ttf/Dana-FaNum-Bold.ttf") format("truetype");
  font-display: swap;
}
