.xcontainer {
  width: 1140px;
  margin: 0 auto;
  padding: 0 32px;
}

.xcontainer-fluid {
  width: 100%;
  max-width: 2880px;
  padding: 0 32px;
  margin: 0 auto;
}

// tablet
@media only screen and (max-width: 1239px) {
  .xcontainer {
    min-width: 680px;
    max-width: 960px;
    width: 100%;
    padding: 0 32px;
  }
}

// mobile
@media only screen and (max-width: 743px) {
  .xcontainer {
    min-width: 288px;
    max-width: 448px;
    width: 100%;
    padding: 0 16px;
  }
  .xcontainer-fluid {
    padding: 0 16px;
  }
}
