<section class="Search__form py-6 mb-7">
    <div class="container-md">
        <h1 class="t-24 text-darker mb-3">جستجو</h1>
        <form class="flex relative" action="{{ site.link }}">
            <input
                class="w-100 t-14 radius-small"
                type="text"
                name="s"
                placeholder="عبارت مورد نظر خود را جستجو کنید"
                value="{{ keyword }}"
            />
            <button type="submit" class="absolute flex align-center t-12">جستجو کن</button>
        </form>
    </div>
</section>
