<section class="Search__support">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <div class="panel flex-column">
                <div class="header flex mb-5">
                    <div class="item">
                        <span class="label">پشتیبانی</span>
                        <span id="questions-badge-counter" class="badge"></span>
                    </div>
                </div>
                <div class="body flex-column mb-7">
                    <div id="search-learning-questions"></div>
                </div>
            </div>
        </div>
    </div>
</section>
