.bankaccounts__accounts {
    h2 {
        color: var(--color-text-medium);
    }

    table {
        margin-top: 18px;
        width: 100%;

        tr:nth-child(odd) {
            background: #FAFAFB;
        }

        tr:nth-child(even) {
            border-top: 1px solid #DCE1E6;
        }

        th {
            font-size: 12px;
            color: #2C2F33;
            line-height: 18px;
            padding: 12px 0;
            background: #FFFFFF;
            border: 0;
            text-align: right;
            padding-right: 28px;
        }

        td {
            font-size: 12px;
            line-height: 50px;
            padding-right: 28px;
            color: #6E7780;

            .clipbord-btn {
                background: #FFFFFF;
                border: 1px solid #DCE1E6;
                color: #6E7780;
                padding: 8px 12px;
                font-size: 12px;
                margin-right: 8px;

                &:before {
                    content: "";
                    width: 13px;
                    height: 15px;
                    background: url("../../src/images/icons/copyto.svg") no-repeat scroll
                      center;
                    margin-left: var(--space-2);
                    display: inline-block;
                    margin-bottom: -5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .bankaccounts__accounts {
        table,
        th,
        tr,
        td {
            display: block;
        }

        table {
            display: block;
            margin-top: 0;

            thead {
                display:none;
            }

            tr {
                background: #FFFFFF !important;
                padding: 4%;

                td {
                    border: none;
                    padding-right: 0;
                    display: inline-block;
                    line-height: 28px;
                    color: #2C2F33;
    
                    &:before {
                        content: attr(data-label);
                        float: right;
                        width: 100%;
                        color: #6E7780;
                    }
                }

                td:nth-child(1),
                td:nth-child(2),
                td:nth-child(3) {
                    width: 32%;
                }

                td:nth-child(4),
                td:nth-child(5) {
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }

        .iban-acc {
            td:nth-child(1),
            td:nth-child(2) {
                width: 100%;
            }
        }
    }
}