<section class="FundsTop">
    <img class="cover mb-7 w-100 h-auto" src="{{theme.link}}/assets/images/pages/funds/funds-cover.jpg">
    <img class="cover-mobile mb-7 w-100 h-auto" src="{{theme.link}}/assets/images/pages/funds/funds-cover-mobile.jpg">
    <div class="container-sm">
        <div class="flex-column align-center">
            <div class="texts flex-column text-center mb-7">
                <h1 class="t-20 mb-4 text-darker">صندوق های کارگزاری مفید</h1>
                <p class="t-16 lh-26 text-medium">
                    صندوق‌های سرمایه‌گذاری ابزاری هستند که امکان سرمایه‌گذاری حرفه‌ای بدون صرف زمان را فراهم می‌کنند. در واقع صندوق‌های سرمایه‌گذاری با بهره‌گیری از تیم متخصص مالی به جمع‌آوری سرمایه‌های خرد پرداخته و به پشتوانه تحلیل شرایط بازار اقدام به سرمایه‌گذاری می‌کنند.
                </p>
            </div>
        </div>
    </div>
</section>
