<section class="Branches__top">
    <div class="inner flex align-center">
        <div class="container-md">
            <div class="row">
                <div class="mobile-cover col-xs-12">
                    <h2 class="t-20">شعب و دفاتر کارگزاری مفید</h2>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="wrapper flex-column">
                        <h1 class="t-32 mb-3">شعب و دفاتر کارگزاری مفید</h1>
                        <p class="t-16 lh-26 text-medium mb-6">
                            کارگزاری مفید با بیش از ۵۰ شعبه و ۵۰۰۰ نقطه دسترسی، آماده ارائه خدمات متنوع در سرتاسر کشور است.
                        </p>
                        <div class="select-wrapper flex-column">
                            <label class="t-16 text-light mb-2">نام شهر خود را انتخاب کنید</label>
                            <div id="branches-select-city-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
