.PriceViewBox {
  .value {
    font-size: 22px;
    line-height: 34px;
    color: var(--color-mofid-green);
    padding: 13px 38px 8px;
    border-radius: 70px;
    background-color: var(--color-mofid-green-medium);
    border: 1px solid var(--color-mofid-green-top);
  }
}
