.Investment__portfolio-management {
  background: var(--color-mofid-green-outline-hover) url("../images/portfolio-bg.png") no-repeat
    bottom;

  .investment-portfolio-list {
    li {
      color: var(--color-text-lighter);
      transition: var(--transition);
      font-size: var(--size-text-16);

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--color-gray);
        margin-left: 24px;
        background: var(--color-plum)
          url("../images/icons/check-large-white.svg") no-repeat scroll center;
        border-color: var(--color-plum);
      }

      span {
        color: var(--color-plum);
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Investment__portfolio-management {
    background: var(--color-amour);

    .right {
      order: 2;
      padding-right: var(--space-1);
      padding-left: var(--space-1);
    }

    .left {
      order: 1;
      padding-right: var(--space-1);
      padding-left: var(--space-1);
    }

    .free-consultation {
      justify-content: center;
    }
  }
}
