.Investment__trust {
  .wrapper {
    .list {
      li {
        color: var(--color-text-lighter);
        transition: var(--transition);

        &:before {
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid var(--color-gray);
          margin-left: 24px;
          background: transparent url("../images/icons/check-large.svg")
            no-repeat scroll center;
        }

        span {
          flex: 1;
        }

        &.active {
          color: var(--color-text-darker);

          &:before {
            border-color: var(--color-mofid-green);
            background: var(--color-mofid-green)
              url("../images/icons/check-large-white.svg") no-repeat scroll
              center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Investment__trust {
    .wrapper {
      h2 {
        font-size: var(--size-text-18);
      }

      .rows-container {
        max-width: 100%;
        padding: 0 var(--space-3);
        margin: 0 !important;

        > div {
          padding: 0 !important;
          width: 100%;

          &:first-child {
            order: 2;
          }

          &:last-child {
            order: 1;
            margin-bottom: var(--space-5);
          }
        }

        .logo {
          width: 100%;
        }
      }
    }
  }
}
