<div class="Calculators py-7">
    <div class="container-sm">
        <div class="wrapper flex-column align-center">
            <h2 class="t-24 lh-38 text-center text-darker mb-5">سرمایه گذاری هوشمند، تنها راه برای افزایش ارزش دارایی ها در شرایط تورمی</h2>
            <div id="calculator-switcher" class="switcher overflow-hidden relative radius-small flex align-center t-16 mb-7">
                <span class="text-center cursor-pointer" data-tab-type="calc-1" data-tab-id="1">ماشین حساب بازدهی</span>
                <span class="text-center cursor-pointer" data-tab-type="calc-1" data-tab-id="2">ماشین حساب ترکیبی</span>
            </div>
            <div class="calculators-wrapper">
                <div id="calc-root"></div>
            </div>
        </div>
    </div>
</div>