<div class="IntroVideo mb-7 mt-3">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h1 class="mb-4 text-center">چرا سرمایه گذاری غیر مستقیم</h1>
            <div class="mb-5">
                <div class="image flex align-center">
                    <img class="radius-small" src="{{theme.link}}/assets/images/pages/\investment/investment-intro.jpg" />
                </div>
            </div>
            <p class="mb-4 px-3 text-center">
                ممکن است تصور کنید سرمایه‌گذاری در بورس بسیار سخت و پیچیده است. این تصور خیلی هم به دور از واقعیت نیست، چرا که برای معامله در بورس نیاز به صرف زمان و هزینه زیاد برای یادگیری روش‌های مختلف تحلیل دارید. اما صندوق‌های سرمایه‌گذاری این امکان را فراهم کرده‌اند که بتوانید بدون صرف زمان برای یادگیری به صورت حرفه‌ای در بورس سرمایه‌گذاری کنید. در واقع سرمایه شما در صندوق‌های سرمایه‌گذاری توسط یک تیم (نه یک فرد) و به صورت حرفه‌ای مدیریت می‌شود.
            </p>
            <div class="footer flex justify-center">
                <a class="Button medium blue" href="#">درخواست مشاوره رایگان سرمایه‌گذاری</a>
            </div>
        </div>
    </diV>
</div>