<section class="InvestmentPortfolioManagement mb-7 pt-6 pb-7">
    <div class="container-md">
        <h2 class="t-24 text-darker text-center my-4">سبدگردانی اختصاصی</h2>
        <div class="wrapper">
            <div class="row">
                <div class="right mt-7 px-7 col-lg-6 col-xs-12 flex justify-center">
                    <div class="flex-column">
                        <p class="t-16 text-medium mb-5">
                            در صورتی که تمایل دارید بیش از 5 میلیارد تومان در بورس سرمایه‌گذاری کنید، می‌توانید درخواست سبدگردانی اختصاصی کارگزاری مفید را بدهید. در این صورت یک تیم از متخصصان با تجربه هلدینگ مالی مفید، مدیریت سبد سهام شما را بر عهده می‌گیرند.
                        </p>
                        <div class="flex mt-1 free-consultation">
                            <a class="Button medium sherpa-blue" href="https://www.emofid.com/forms/investmentform/">مشاوره رایگان سرمایه‌گذاری</a>
                        </div>
                    </div>
                </div>
                <div class="left mt-5 px-7 col-lg-6 col-xs-12 flex justify-center">
                    <div class="flex-column align-center">
                        <div class="image flex">
                            <img src="{{ theme.link }}/assets/images/pages/investment/tick-boxes.svg" />
                        </div>
                        <ul id="investment-portfolio-list" class="investment-portfolio-list mt-6">
                            <li class="t-14 lh-26 flex align-center mb-4">
                                <span>دارایی تحت مدیریت سبدهای مفید</span>
                            </li>
                            <li class="t-14 lh-26 flex align-center mb-2">
                                <span>مدیریت 370 سبد سهام اختصاصی</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
