<section class="InvestmentPortfolioManagement mb-7 pt-7 pb-7">
    <div class="container-md">
        <h2 class="t-24 text-darker text-center mb-6">سبدگردانی اختصاصی</h2>
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-5 col-xs-12 ml-6 flex justify-center align-center">
                    <div class="flex-column">
                        <p class="t-16 text-medium mb-5">
                            در صورتی که تمایل دارید بیش از 5 میلیارد تومان در بورس سرمایه‌گذاری کنید، می‌توانید درخواست سبدگردانی اختصاصی کارگزاری مفید را بدهید. در این صورت یک تیم از متخصصان با تجربه هلدینگ مالی مفید، مدیریت سبد سهام شما را بر عهده می‌گیرند.
                        </p>
                        <div class="flex">
                            <a class="Button medium sherpa-blue" href="#">مشاوره رایگان سرمایه‌گذاری</a>
                        </div>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12 flex justify-center align-center">
                    <div class="flex-column">
                        <img src="{{ theme.link }}/assets/images/pages/investment/tick-boxes.svg" />
                        <ul id="investment-portfolio-list" class="investment-portfolio-list mt-5">
                            <li class="t-14 lh-26 flex align-center mb-5 active">
                                <span>دارایی تحت مدیریت سبدهای مفید</span>
                            </li>
                            <li class="t-14 lh-26 flex align-center mb-5 active">
                                <span>مدیریت 370 سبد سهام اختصاصی</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
