<div class="StickyHeader sticky top-0">
    <div class="container">
        <div class="wrapper flex align-center py-3">
            <img class="logo" src="{{ theme.link }}/assets/images/logo-darayi.svg" />
            <div class="navigation flex align-center mr-auto">
                <a class="px-3" href="#intro">آشنایی با سرمایه گذاری غیر مستقیم</a>
                <a class="px-3" href="/funds/">صندوق های سرمایه گذاری</a>
            </div>
        </div>
    </div>
</div>
