<section class="Trust py-7">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-7">چگونه میتوان به صندوق ها اعتماد کرد؟</h2>
            <div class="row">
                <div class="col-lg-6 flex-column pl-7">
                    <ul id="investment-trust-list" class="flex-column list">
                        <li class="t-14 lh-26 flex align-center mb-5 active">
                            <span>سازمان بورس و اوراق بهادار بصورت پیوسته بر عملکرد صندوق ها نظارت دارد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>صلاحیت حرفه ای مدیر و فعالیت صندوق ها با تایید و مجوز سازمان بورس انجام میشود.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>هر ماه یکبار اطلاعات پرتفوی صندوق های سرمایه گذاری در سامانه کدال منتشر میشود.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>حسابرسی های شش ماهه و یک ساله توسط حسابرسان معتمد سازمان بورس انجام میگیرد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>صندوق ها دارای رکنی به نام متولی هستند که بر کلیه دریافت ها و پرداخت های روزانه نظارت دارد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>هر سه ماه یکبار گزارش عملکرد صندوق ها روی  سامانه کدال قرار میگیرد.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 flex justify-center align-center">
                    <div class="logo flex-column align-center">
                        <img src="{{ theme.link }}/dist/images/pages/investment/trust-1.svg" />
                        <span>سازمان بورس و اوراق بهادار</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
