<section class="Trust py-7">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-7">چگونه می‌توان به صندوق‌های سرمایه‌گذاری اعتماد کرد؟</h2>
            <div class="row rows-container">
                <div class="col-lg-6 col-md-12 flex-column pl-7">
                    <ul id="investment-trust-list" class="flex-column list">
                        <li class="t-14 lh-26 flex align-center mb-5 active">
                            <span>صلاحیت حرفه‌ای مدیر و فعالیت صندوق با تایید و مجوز سازمان بورس انجام می‌شود.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>سازمان بورس و اوراق بهادار پیوسته بر فعالیت صندوق‌های سرمایه‌گذاری نظارت دارد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>پرتفوی سرمایه‌گذاری صندوق‌ها به صورت ماهیانه از طریق سایت کدال منتشر می‌گردد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>بررسی‌های دوره‌ای توسط حسابرسان معتمد سازمان بورس انجام می‌گیرد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>متولی صندوق بر تمامی دریافت‌ها و پرداخت‌های روزانه نظارت دارد.</span>
                        </li>
                        <li class="t-14 lh-26 flex align-center mb-5">
                            <span>هر سه ماه یک‌بار گزارش عملکرد صندوق‌ها بر روی سامانه کدال قرار می‌گیرد.</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 flex justify-center align-center">
                    <div class="logo flex-column align-center">
                        <img src="{{ theme.link }}/assets/images/pages/investment/trust-1.svg" />
                        <span>سازمان بورس و اوراق بهادار</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
