<section class="About__careers mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <div class="footer flex-column">
                <div class="flex-column align-center">
                    <a class="Button blue outline medium" href="https://www.emofid.com/job/">مشاهده فرصت‌های همکاری</a>
                </div>
            </div>
        </div>
    </div>
</section>
