<section class="About__careers mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-6">همکاری با کارگزاری مفید</h2>
        </div>
        <div class="collapse-wrapper flex-column">
            <article class="collapse-item">
                <h3 class="">برنامه‌نویسی جاوا</h3>
                <div class="content" style="display: none;">
                    <p></p>
                </div>
            </article>
            <article class="collapse-item">
                <h3 class="">طراحی UI/UX</h3>
                <div class="content" style="display: none;">
                    <p></p>
                </div>
            </article>
            <article class="collapse-item">
                <h3 class="">کارشناس مالی</h3>
                <div class="content" style="display: none;">
                    <p></p>
                </div>
            </article>
        </div>
        <div class="wrapper flex-column">
            <div class="flex-column align-center">
                <a class="Button blue outline medium" href="#">مشاهده فرصت‌های همکاری (۲۴ آگهی)</a>
            </div>
        </div>
    </div>
</section>
