<section class="About__contact mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-6">راه‌های ارتباطی با کارگزاری مفید</h2>
            <div class="wrapper">
                <div class="row">
                    <div class="grid-item col-lg-4 col-md-12 mb-4">
                       <div class="inner flex-column justify-space-between bg-white pt-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-16 text-darker mb-5 text-center">تماس تلفنی</h3>
                            <div class="content flex-column align-center p-6">
                                <p class="t-12 lh-26 text-small text-center mb-5">
                                    پاسخگویی به ۵۰۰۰ تماس روزانه
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <p class="t-14 lh-26 text-small text-center">
                                        ۰۲۱ ۸۷۰۰ ۹۱۰۰
                                    </p>
                                </div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-4 col-md-12 mb-4">
                       <div class="inner flex-column justify-space-between bg-white pt-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-16 text-darker mb-5 text-center">چت آنلاین</h3>
                            <div class="content flex-column align-center p-6">
                                <p class="t-12 lh-26 text-small text-center mb-5">
                                    پاسخگویی به ۳۰۰۰ پیام روزانه
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <p class="t-14 lh-26 text-small text-center">
                                        -
                                    </p>
                                </div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-4 col-md-12 mb-4">
                       <div class="inner flex-column justify-space-between bg-white pt-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-16 text-darker mb-5 text-center">ایمیل</h3>
                            <div class="content flex-column align-center p-6">
                                <p class="t-12 lh-26 text-small text-center mb-5">
                                    پاسخگویی به ۶۰۰۰ ایمیل روزانه
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <p class="t-14 lh-26 text-small text-center">
                                        8700@emofid.com
                                    </p>
                                </div>
                            </div>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
