<section class="About__holding py-7 mb-7">
    <div class="container-md">
        <div class="wrapper flex justify-center align-center">
            <div class="logos flex-column align-end">
                <img
                    class="logo mb-6"
                    src="{{ theme.link }}/assets/images/logo-white.svg"
                    alt="کارگزاری مفید"
                    width="240"
                    height="39"
                />
                <img
                    class="darayi mb-6"
                    src="{{ theme.link }}/assets/images/logo-darayi-white.svg"
                    alt="مدیریت دارایی مفید"
                    width="211"
                    height="43"
                />
                <img
                    class="idea mb-6"
                    src="{{ theme.link }}/assets/images/logo-idea-white.svg"
                    alt="ایده مفید"
                    width="164"
                    height="50"
                />
                <img
                    class="pouya mb-6"
                    src="{{ theme.link }}/assets/images/logo-pouya-white.svg"
                    alt="پردازش اطلاعات مالی پویا"
                    width="149"
                    height="55"
                />
            </div>
            <article class="text flex-column pr-8">
                <h1 class="t-20 text-white mb-6">هلدینگ مالی مفید در یک نگاه</h1>
                <ul class="flex-column text-white t-16">
                    <li>طراحی ابزارها و بستر برای انجام معامله در بازارهای بورس و فرابورس</li>
                    <li>نگاه حرفه‌ای به معامله در گروه‌های فلزات، پتروشیمی، مشتقات نفتی و کشاورزی</li>
                    <li>مشاوره تخصصی و انجام معاملات انواع حامل‌های انرژی</li>
                    <li>پلتفرم‌های معاملات آنلاین برای معاملات آتی کالا و اختیار کالا</li>
                    <li>صندوق‌های سرمایه‌گذاری و سبدگردانی اختصاصی و طراحی راهکارهای سرمایه‌گذاری</li>
                    <li>مشاوره تخصصی به اشخاص حقیقی و حقوقی متناسب با اهداف و نیازهای آن‌ها</li>
                    <li>تعیین ارزش شرکت‌ها به وسیله بررسی صورت‌های مالی و پیش بینی سودآوری آتی</li>
                    <li>مشاوره تامین مالی شرکت‌ها از طریق بورس و انجام فرآیند پذیرش شرکت‌ها در بورس</li>
                    <li>ارائه سامانه جامع اطلاعات بنیادی برای تحلیل‌گران و معامله‌گران</li>
                </ul>
            </article>
        </div>
    </div>
</section>
