<section class="About__honors py-7 mb-7">
    <div class="container-md">
        <div class="wrapper flex-column">
            <div class="texts flex-columns mx-auto mb-6">
                <h2 class="t-20 text-white text-center mb-3">کارگزار برتر لیگ فدراسیون بورس‌های اروپایی و آسیایی</h2>
                <p class="t-16 text-white text-center">
                    کارگزار برتر در سال‌های ۲۰۱۷، ۲۰۱۸، ۲۰۲۰ و ۲۰۲۱ به انتخاب فدراسیون بورس‌های آسیایی و اروپایی (FEAS)
                </p>
            </div>
            <div class="certs flex justify-center align-center">
                <img src="{{ theme.link }}/assets/images/pages/about/cert-2.webp" />
                <img src="{{ theme.link }}/assets/images/pages/about/cert-1.webp" />
            </div>
        </div>
    </div>
</section>
