<section class="About__intro py-7">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12 pl-7">
                    <div class="inner flex-column">
                        <h1 class="t-24 text-darker mt-6 mb-3">کارگزاری مفید، اولین هلدینگ خدمات مالی ایران</h1>
                        <p class="caption t-16 text-medium mb-4">
                            اوایل دهه 70 زمانی که فعالیت در بورس شاهد تحولات جدیدی در کشور بود، کارگزاری مفید با رویکردی تخصصی و 
دانش محور در سال 1373 آغاز به کار کرد. «مفید» طی سه دهه دامنه فعالیت و خدماتش را در کلاس جهانی ارتقا داد، به‌طوری‌که در حال حاضر با بهره‌گیری از:
                        </p>
                        <ul class="t-14 text-medium lh-26">
                            <li class="mb-1">27 سال تجربه</li>
                            <li class="mb-1">بیش از 34 هزار میلیارد تومان دارایی تحت مدیریت</li>
                            <li class="mb-1">بیش از 12 میلیون حساب کاربری</li>
                            <li class="mb-1">بیش از 28 درصد از ارزش معاملات آنلاین اوراق بهادار</li>
                        </ul>
                        <p class="caption text-medium mt-4">ظرفیت ارائه به‌روزترین خدمات معاملاتی و سرمایه‌گذاری را در سراسر کشور دارد.</p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12">
                    <div class="intro-video mb-6">
                        <div class="container-sm">
                            <div class="wrapper flex-column">
                                <div class="video-wrapper relative">
                                    <div class="inner overflow-hidden radius-small flex">
                                        <video 
                                            id="about-video-intro"
                                            width="1280"
                                            height="720"
                                            class="w-100 h-auto"
                                            poster="{{ theme.link }}/assets/images/pages/about/mofid-securities-intro.jpg"
                                            preload="none"
                                        >
                                            <source src="https://mofid.arvanvod.com/vMGYGv8O7p/5LRO6lQwe3/origin_HduR8925YF2URDH56j9UMmuh2bX9yWNTDCnqIQlb.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="play-btn play-btn-right absolute flex align-center justify-center radius-full">
                                        <button id="play-about-video-btn" class="radius-full shadow-small cursor-pointer"></button>
                                    </div>
                                    <div class="full-screen-btn absolute flex align-center justify-center" id="full-screen-btn">
                                    </div>
                                </div>
                            </div>
                        </diV>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
