<section class="About__mission mb-8">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12">
                    <div class="inner flex-column">
                        <span class="t-18 text-darker mb-2 mt-7">
                            ماموریت مفید
                        </span>
                        <h3 class="t-22 text-darker mb-4">فراهم کردن بستر معامله و مدیریت سرمایه</h3>
                        <p class="t-16 text-medium mb-5">
                            کارگزاری مفید در تلاش است تا با به‌کارگیری مشاوران متخصص و خبره در راستای فرهنگ‌سازی و آموزش دانش مالی و سرمایه‌گذاری به مشتریان، مسیر سرمایه‌گذاری صحیح را در شرایط مختلف بازار و متناسب با ویژگی‌های هر سرمایه‌گذار به ایشان نشان دهد و با روندی رو به رشد، مرجعی حرفه‌ای برای سرمایه‌گذاری شما باشد.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12 flex justify-end">
                    <img class="cover-image" src="{{theme.link}}/assets/images/pages/about/about-mission.png" />
                </div>
            </div>
        </div>
    </div>
</section>
