<section class="About__possibilities mb-7">
    <div class="container-md">
        <div class="wrapper flex justify-space-between align-center">
            <div class="item flex-column align-center">
                <span class="icon icon-1 mb-3"></span>
                <span class="text text-center t-16 text-medium">سامانه‌های معاملاتی متنوع</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-2 mb-3"></span>
                <span class="text text-center t-16 text-medium">بیش از ۵۰۰۰ نقطه ارائه خدمت در سراسر کشور</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-3 mb-3"></span>
                <span class="text text-center t-16 text-medium">۱۲ صندوق سرمایه‌گذاری مختلف</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-4 mb-3"></span>
                <span class="text text-center t-16 text-medium">بیش از ۱۰۰۰ نفر نیروی متخصص</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-5 mb-3"></span>
                <span class="text text-center t-16 text-medium">۹ دستیار معاملاتی</span>
            </div>
        </div>
    </div>
</section>
