.TabFilters {
  width: 650px;
  max-width: 100%;
  margin-bottom: var(--space-6);
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;

  .inner {
    width: 650px;
  }

  .item {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: var(--color-text-light);
    padding-bottom: 8px;
    border-bottom: 3px solid var(--color-gray-2);
    cursor: pointer;
    transition: 0.15s ease-in-out;

    &.active {
      color: var(--color-mofid-green);
      border-color: var(--color-mofid-green);
    }
  }
}

@media only screen and (max-width: 576px) {
  .TabFilters {
    .item {
      font-size: 14px;

      &:first-child {
        min-width: 100px;
      }

      &:nth-child(4) {
        min-width: 75px;
      }
    }
  }
}
