.ModalTopImages {
  position: relative;
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  display: flex;
  margin-bottom: 60px;

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
    background-color: #fff;
    border-radius: 50%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background-color: var(--color-mofid-blue);
      top: 9px;
      left: 4px;
      border-radius: 2px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  .coverImage {
    width: 100%;
    height: auto;
  }

  .shots {
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    img {
      width: 60px;
      height: 60px;
      margin: 0 5px;
      border-radius: var(--radius-small);
    }
  }

  &.loading {
    height: 310px;
  }
}
