<section class="NewsTags mb-7">
    <div class="container-md">
        <div class="wrapper flex align-center">
            <span class="t-14 lh-22 text-darker ml-6 strong">موضوعات پربازدید</span>
            <div class="flex wrap align-center">{{ tags_cloud }}</div>
        </div>
    </div>
</section>
