.Calculator {
  .fundAttr {
    color: var(--color-text-medium);

    span {
      &:first-child {
      }
    }

    .helpIcon {
      width: 16px;
      height: 16px;
      background: url("../../../../../images/icons/help.svg") no-repeat scroll
        center/ cover;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 576px) {
  .Calculator {
    padding-bottom: 0 !important;

    .innerData {
      flex-direction: column;
      position: relative;
    }

    .fundAttr {
      margin-left: 0;
      margin-bottom: 0;
      padding-right: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .helpIcon {
        display: none;
      }
    }

    .chartIcon {
      position: absolute;
      right: 0;
      top: 64px;

      &:first-of-type {
        top: 8px;
      }
    }
  }
}
