<div class="StickyHeader sticky top-0 mb-6">
    <div class="container">
        <div class="wrapper flex align-center py-3">
            <img class="logo" src="{{ theme.link }}/assets/images/pages/news/news-logo.svg" />
            <div class="navigation flex align-center mr-auto">
                <a class="px-3" href="{{ site.link }}/news/">صفحه روابط عمومی</a>
                <a class="px-3" href="{{ site.link }}/archive/">آرشیو اخبار</a>
            </div>
        </div>
    </div>
</div>
