.RiskSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;

  .label {
    color: white;
    margin-bottom: 8px;
  }

  .wrapper {
    border-radius: 18px;
    background-color: #004c6a;
    width: 285px;
    height: 38px;
    color: white;
    display: flex;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      width: 95px;
      height: 34px;
      border-radius: 18px;
      background-color: #e0f4f2;
      position: absolute;
      top: 2px;
      right: 2px;
      transition: all 0.1s linear;
    }

    span {
      flex: 1;
      text-align: center;
      line-height: 38px;
      z-index: 1;
      transition: all 0.1s linear;
    }
  }

  &.state-1 {
    .wrapper {
      &::before {
        right: 2px;
      }
    }
  }

  &.state-2 {
    .wrapper {
      &::before {
        right: 97px;
      }
    }
  }

  &.state-3 {
    .wrapper {
      &::before {
        right: 188px;
      }
    }
  }

  .active {
    color: #004c6a;
  }
}
