<section class="AboutMission mb-8">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12">
                    <div class="inner flex-column">
                        <p class="t-14 text-dark mb-1">
                            ماموریت مفید
                        </p>
                        <h3 class="t-20 text-darker mb-4">فراهم کردن بستر معامله و مدیریت سرمایه</h3>
                        <p class="t-14 text-dark mb-5">
                            برآنیم تا با به‌کارگیری مشاوران متخصص و خبره جهت فرهنگ‌سازی و آموزش دانش مالی و سرمایه‌گذاری به مشتریان، مسیر سرمایه‌گذاری صحیح را در شرایط مختلف بازار و متناسب با ویژگی‌های هر سرمایه‌گذار به آن‌ها نشان دهیم و با روند رو به رشد یک مرجع حرفه‌ای برای سرمایه‌گذاری شما باشیم. در این مسیر می‌کوشیم تا کیفیت و تمایز در ارائه خدمات را فدای سودآوری مقطعی نکنیم.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12 flex flex-end">
                    <img class="cover-image" src="{{theme.link}}/src/images/about-mission.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
