<section class="AboutIntro py-7">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12 pl-7">
                    <div class="inner flex-column">
                        <h3 class="t-24 text-dark mt-6 mb-1">کارگزاری مفید، اولین هلدینگ خدمات مالی ایران</h3>
                        <p class="t-16 text-darker mb-5">
                            اعتماد؛ نتیجه سال‌ها تجربه است
                        </p>
                        <p class="t-16 text-medium mb-6">
                            کارگزاری مفید با بیش ۱۰۰۰ نفر نیروی متخصص در تلاش است تا سرمایه‌گذاران را در مسیر رسیدن به اهداف مالی خود یاری کند. در همین راستا کارگزاری مفید بزرگترین مرکز خدمات بازار سرمایه ایران را به جهت ارائه خدمات در ۲۴ ساعت شبانه‌روز و در ۷ روز هفته، حتی روزهای تعطیل راه‌اندازی کرده است.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12">
                    <div class="IntroVideo mb-6">
                        <div class="container-sm">
                            <div class="wrapper flex-column">
                                <div class="video-wrapper relative">
                                    <div class="inner overflow-hidden radius-small flex">
                                        <video id="investment-video-intro">
                                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="play-btn play-btn-right absolute flex align-center justify-center radius-full">
                                        <button id="play-investment-video-intro-btn" class="radius-full shadow-small"></button>
                                    </div>
                                </div>
                            </div>
                        </diV>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
