<section class="AboutSocialResponsibility mb-8">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-20 text-darker mb-4">مسئولیت اجتماعی</h3>
                        <p class="t-14 text-dark mb-5">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12 flex align-end">
                    <div class="box radius-small p-5">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12 flex-column align-center">
                                <img class="logo mb-4" src="{{theme.link}}/src/images/pelekan-charity.svg" />
                            </div>
                            <div class="col-lg-8 col-xs-12 flex-column align-start justify-center contents">
                                <div class="top flex align-center mb-5">
                                    <h3>کمک‌های خیریت پلکان تا تاریخ ۲۳ شهریور ۱۴۰۰ به حساب موسسات خیریه واریز شد.</h3>
                                </div>
                                <p class="mb-2">
                                    کاربران پلکان ۲۸۳ امتیاز دیگر ۲۸۳ میلیون و ۱۸۲ هزار تومان در امور خیریه کمک نمودند.
                                </p>
                                <a class="more flex align-center" href="#">مشاهده رسید پرداخت</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
