<section class="AboutVision mb-8">
    <div class="container-sm">
        <div class="flex-column">
            <h2 class="t-24 text-darker text-center mb-4">چشم انداز مفید</h2>
            <div class="texts flex-column align-center">
                <p class="t-16 lh-26 text-medium text-center mb-5">
                    چشم‌اندازمان این است که در حوزه بازارهای مالی در سطح جهانی بدرخشیم و با نوآوری در خدمات، بتوانیم استانداردهای حرفه‌ای در صنعت مالی را توسعه دهیم و به انتخاب نخست مشتریان در بازار سرمایه بدل شویم. همچنین در این راستا همواره تلاش می‌کنیم تا با ارائه بهترین عملکرد، معیاری باشیم برای سنجش فعالیت سایر شرکت‌های مالی، تا خود را در مقایسه با ما مورد سنجش قرار دهند.
                </p>
            </div>
        </div>
    </div>
</section>
