<section class="Intro py-7">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-5 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-20 text-darker mb-1">کارگزاری مفید، اولین هلدینگ خدمات مالی ایران</h3>
                        <p class="t-14 text-dark mb-5">
                            میانبری به آینده سرمایه‌گذاری
                        </p>
                        <p class="t-16 text-dark mb-6">
                            مرکز خدمات مفید با به‌کارگیری بیش از 600 نیروی متخصص بزرگترین مرکز خدمات بازار سرمایه ایران است. این مرکز در 24 ساعت شبانه‌روز و در 7 روز هفته، حتی روزهای تعطیل، در حال پاسخگویی به مشتریان بازار سرمایه است.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-7 col-xs-12">
                    <div class="IntroVideo mb-7">
                        <div class="container-sm">
                            <div class="wrapper flex-column">
                                <div class="video-wrapper relative">
                                    <div class="inner overflow-hidden radius-small flex">
                                        <video id="investment-video-intro">
                                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="play-btn absolute flex align-center justify-center radius-full">
                                        <button id="play-investment-video-intro-btn" class="radius-full shadow-small"></button>
                                    </div>
                                </div>
                            </div>
                        </diV>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>