<section class="AboutManagers mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column mb-7">
            <h2 class="t-24 text-darker text-center mb-6">مدیران مفید</h2>
            <div class="wrapper">
                <div class="row">
                    <div class="right col-lg-5 col-xs-12 flex justify-end pl-4">
                        <img class="radius-small" src="{{theme.link}}/assets/images/pages/about/amirAzarakhsh.jpg" />
                    </div>
                    <div class="left col-lg-6 col-xs-12 justify-start pr-4">
                        <span class="t-14 flex text-darker mb-2">حمید آذرخش</span>
                        <span class="t-12 mb-6">موسس و رئیس هیئت مدیره شرکت کارگزاری مفید</span>
                        <span class="t-12 text-darker">تلاش مفید معطوف به چند موضوع است: ایجاد دسترسی افراد بیشتر به بازار سرمایه، ایجاد خدمات با بهترین کیفیت با التزام به حفظ سرمایهو نفع سرمایه گذاران. اعتماد مشتریان و سلامت کاری مهم ترین سرمایه ماست. تلاش می کنیم تا از این سرمایه محافظت کنیم.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper flex-column">
            <div class="tabs-wrapper flex-column align-center">
                <div class="tabs hide-scrollbar flex-column">
                    <div class="head flex justify-center">
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="1">کارگزاری مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="2">مدیریت دارایی مفید</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="3">پردازش اطلاعات مالی پویا</button>
                        <button class="t-14 lh-30 px-3" data-tab-type="1" data-tab-id="4">مشاور سرمایه گذاری ایده مفید</button>
                    </div>
                </div>
                <div class="body">
                    <div class="tab-content-item py-4 flex justify-center align-center" data-content-type="1" data-content-id="1">
                        <img class="ml-7" src="{{ theme.link }}/assets/images/pages/contact/entekhab-logo.svg" />
                        <div class="contact-details flex-column t-14 lh-26">
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">شماره تلفن</span>
                                <span class="value text-light">۰۲۱۹۱۰۰۸۷۰۰</span>
                            </div>
                            <div class="item mail flex justify-space-between align-center py-3">
                                <span class="key text-darker">ایمیل</span>
                                <span class="value text-light">info@mofidentekhab.com</span>
                            </div>
                            <div class="item phone flex justify-space-between align-center py-3">
                                <span class="key text-darker">فکس</span>
                                <span class="value text-light">۰۲۱-۸۱۹۰۹</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
