<section class="AboutHonors mb-8">
    <div class="container-md">
            <div class="row">
                <div class="center col-lg-12 col-xs-12">
                    <div class="inner flex-column">
                        <h2 class="t-24 text-darker text-center mb-4">افتخارات ما</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
