<section class="AboutSocialResponsibility mb-8">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-5 col-xs-12 ml-6">
                    <div class="inner flex-column">
                        <h3 class="t-22 text-darker mb-4">مسئولیت اجتماعی</h3>
                        <p class="t-16 text-medium mb-5">
                            کارگزاری مفید در راستای مسئولیت اجتماعی خود و بهبود سطح دانش عمومی با توجه به نیازمندی‌های کاربران در زمینه آموزش، اقدام به ایجاد سامانه آموزش مفید کرده است. در این سامانه صدها مقاله و دوره‌های ویدیویی تهیه و به صورت کاملا رایگان در اختیار عموم قرار گرفته است.
                        </p>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12 flex align-end">
                    <div class="box radius-small p-5">
                        <div class="row">
                            <div class="col-lg-3 col-xs-12 flex-column align-center">
                                <img class="logo mb-4" src="{{theme.link}}/src/images/pelekan-charity.svg" />
                            </div>
                            <div class="col-lg-9 col-xs-12 flex-column align-start justify-center contents">
                                <div class="top flex align-center text-darker mb-5 t-14">
                                    <h3>کمک‌های خیریت پلکان تا تاریخ ۲۳ شهریور ۱۴۰۰ به حساب موسسات خیریه واریز شد.</h3>
                                </div>
                                <p class="mb-2 text-medium t-12">
                                    کاربران پلکان ۲۸۳ امتیاز دیگر ۲۸۳ میلیون و ۱۸۲ هزار تومان در امور خیریه کمک نمودند.
                                </p>
                                <a class="more flex align-center t-14" href="#">مشاهده رسید پرداخت</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
