<section class="HomeOtherPlatforms py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-5">سایر پلتفرم های ما</h2>
            <img class="cover mx-auto mb-4" src="{{theme.link}}/dist/images/pellekan.png" />

            <div class="flex-column tab-view">
                <div class="tabs flex justify-center">
                    <button class="px-4 py-2 active" data-tab-id="1">بورس ویو</button>
                    <button class="px-4 py-2" data-tab-id="2">پلکان</button>
                </div>
                <div class="content py-4">
                    <div class="tab-view-item active" data-tab-id="1">
                        <div class="flex-column align-center">
                            <p class="mb-5">
                                بورس ویو، یکی از محصولات هلدینگ مالی مفید است که هدف از راه اندازی آن، ارائه تمامی اطلاعات و ابزار های
                                مورد نیاز برای تحلیل تکنیکال و بنیادی است. در این سامانه اطلاعات شرکت های بورسی را با بیشترین دقت و  در سریع ترین
                                زمان ممکن در نمایی حرفه ای مشاهده می کنید.
                            </p>
                            <ul class="items flex align-center mb-6">
                                <li class="mx-4 flex align-center">صورت های مالی</li>
                                <li class="mx-4 flex align-center">نسبت های مالی</li>
                                <li class="mx-4 flex align-center">فیلتر بنیادی سهام</li>
                                <li class="mx-4 flex align-center">نقشه بازار</li>  
                                <li class="mx-4 flex align-center">نمودار های بنیادی</li>
                            </ul>
                            <div class="footer flex justify center">
                                <a class="more flex align-center" href="#">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-view-item" data-tab-id="2">
                        <div class="flex-column align-center">
                            <p class="mb-5">
                                بورس ویو، یکی از محصولات هلدینگ مالی مفید است که هدف از راه اندازی آن، ارائه تمامی اطلاعات و ابزار های
                                مورد نیاز برای تحلیل تکنیکال و بنیادی است. در این سامانه اطلاعات شرکت های بورسی را با بیشترین دقت و  در سریع ترین
                                زمان ممکن در نمایی حرفه ای مشاهده می کنید.
                            </p>
                            <ul class="items flex align-center mb-6">
                                <li class="mx-4 flex align-center">صورت های مالی</li>
                                <li class="mx-4 flex align-center">نسبت های مالی</li>
                                <li class="mx-4 flex align-center">فیلتر بنیادی سهام</li>
                                <li class="mx-4 flex align-center">نقشه بازار</li>  
                                <li class="mx-4 flex align-center">نمودار های بنیادی</li>
                            </ul>
                            <div class="footer flex justify center">
                                <a class="more flex align-center" href="#">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>