<section class="HomeCta py-7">
    <div class="container">
        <div class="wrapper mx-auto flex-column text-center">
            <h2 class="mb-5">دریافت کد بورسی و مشاوره سرمایه گذاری</h2>
            <p class="mb-6">
                برای دریافت کد بورسی دیگر نه نیازی به مراجعه حضوری است و نه پرداخت هزینه ای!
                شما میتوانید همین حالا عضوی از خانواده ۹ میلیون نفری کارگزاری مفید شوید.
            </p>
            <div class="footer flex justify-center">
                <a class="Button medium ml-3" href="#">دریافت کد بورسی</a>
                <a class="Button medium outline blue" href="#">مشاوره سرمایه گذاری</a>
            </div>
        </div>
    </div>
</section>