<section class="HomeSlider">
    <div class="slide slide-1 flex align-end">
        <div class="container">
            <div class="row">
                <div class="right col-lg-7 col-xs-12 flex align-center justify-center">
                    <div class="texts flex-column align-start">
                        <h2 class="mb-1">با حرفه‌ای‌ها سرمایه‌گذاری کنید</h2>
                        <p class="mb-3">
                            کارگزاری مفید با ارائه خدمات متنوع در حوزه بازار سرمایه در تلاش است تا مسیر رسیدن به اهداف مالی را برای سرمایه‌گذاران هموار کند.
                        </p>
                        <a class="Button blue outline medium" href="#">مشاوره رایگان سرمایه‌گذاری</a>
                    </div>
                </div>
                <div class="left col-lg-5 col-xs-12 flex align-end justify-center">
                    <img src="{{theme.link}}/dist/images/slider-1.png">
                </div>
            </div>
        </div>
    </div>
</section>
