<section class="Jobs__abouts mb-8">
    <div class="container-md">
        <div class="wrapper flex align-center">
            <div class="outer flex px-3">
                <div class="box w-100 flex-column align-center p-4 radius-small">
                    <img
                        src="{{ theme.link }}/assets/images/pages/jobs/abouts-1.jpg"
                        alt="مفید آکادمی"
                        width="312"
                        height="312"
                        class="mb-3"
                    />
                    <h3 class="t-16 text-medium text-center mb-4">همه چیز در آکادمی مفید با آموزش آغاز میشود.</h3>
                    <a class="Button blue outline" href="#">صفحه آکادمی مفید</a>
                </div>
            </div>
            <div class="outer flex px-3">
                <div class="box w-100 flex-column align-center p-4 radius-small">
                    <img
                        src="{{ theme.link }}/assets/images/pages/jobs/abouts-2.jpg"
                        alt="مفید آکادمی"
                        width="312"
                        height="312"
                        class="mb-3"
                    />
                    <h3 class="t-16 text-medium text-center mb-4">آشنایی بیشتر با کارگزاری مفید</h3>
                    <a class="Button blue outline" href="{{ site.link }}/about/">درباره مفید</a>
                </div>
            </div>
        </div>
    </div>
</section>
