<section class="Jobs__board">
    <div class="container-md mobile-no-padding">
        <h2 class="t-24 text-darker text-center mb-5">فرصت های شغلی</h2>
        <div id="root"></div>
    </div>
</section>
