<section class="Jobs__levels pt-7 pb-8">
    <div class="container-sm">
        <h2 class="w-100 text-center t-24 text-darker mb-6">مراحل شروع همکاری</h2>
        <div class="wrapper flex justify-space-between align-center">
            <div class="item flex-column align-center">
                <span class="icon icon-1 mb-2 relative"></span>
                <span class="label text-center t-14 text-dark">مصاحبه فنی و تخصصی</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-2 mb-2 relative"></span>
                <span class="label text-center t-14 text-dark">مصاحبه HR</span>
            </div>
            <div class="item flex-column align-center">
                <span class="icon icon-3 mb-2 relative"></span>
                <span class="label text-center t-14 text-dark">بررسی نهایی و دعوت به همکاری</span>
            </div>
        </div>
    </div>
</section>
