.Search__form {
  background-color: var(--color-gray-light);
  form {
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      background: url("../../src/images/icons/search-gray.svg") no-repeat scroll
        center/ 100% auto;
    }

    input[type="text"] {
      border: 1px solid #c4ced5;
      padding: 12px 50px 12px 100px;
    }

    button[type="submit"] {
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      color: #717888;
      border: none;
      background-color: transparent;
      padding: 0 1rem;

      &::after {
        content: "";
        width: 12px;
        height: 12px;
        margin-right: 0.3rem;
        background: url("../../src/images/icons/arrow-left-gray.svg") no-repeat
          scroll center/ 100% auto;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Search__form {
    padding: 1.5rem 0;
    margin-bottom: 2rem;

    form {
      input[type="text"] {
        padding-left: 40px;
      }

      button[type="submit"] {
        font-size: 0;
      }
    }

    h1 {
      font-size: 18px;
    }
  }
}
