.Search__support {
  .title {
    color: #717888;
  }

  .panel {
    .header {
      border-bottom: 1px solid #c4ced5;
      background: white;
      z-index: 1;
      position: sticky;
      top: 0;

      .item {
        padding: 0.6rem 1rem;
        color: var(--color-mofid-green);
        font-size: 18px;
        border-bottom: 3px solid var(--color-mofid-green);
        margin-bottom: -1px;

        .badge {
          font-size: 12px;
          padding: 0.25rem 0.5rem 0.15rem;
          border-radius: 12px;
          background-color: var(--color-mofid-green);
          color: white;
          margin-right: 0.25rem;
        }
      }
    }
  }

  .question-item {
    border-bottom: 1px solid #dbe1e6;
    padding: 1.5rem 0;

    &:last-child {
      border: none;
    }

    h3 {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url("../../src/images/icons/help-green.svg") no-repeat
          scroll center / 100% auto;
        margin-left: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Search__support {
    h3 {
      font-size: 18px;
    }
  }
}
