.Search__website {
  .title {
    color: #717888;
  }

  .panel {
    .header {
      border-bottom: 1px solid #c4ced5;
      background: white;
      z-index: 1;
      position: sticky;
      top: 0;

      .item {
        padding: 0.6rem 1rem;
        color: var(--color-mofid-green);
        font-size: 18px;
        border-bottom: 3px solid var(--color-mofid-green);
        margin-bottom: -1px;

        .badge {
          font-size: 12px;
          padding: 0.25rem 0.5rem 0.15rem;
          border-radius: 12px;
          background-color: var(--color-mofid-green);
          color: white;
          margin-right: 0.25rem;
        }
      }
    }

    .body {
      .post {
        border-bottom: 1px solid #dbe1e6;

        &:last-child {
          border-bottom: none;
        }

        h3 {
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: url("../../src/images/icons/circle-arrow-green.svg")
              no-repeat scroll center/ 100% auto;
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Search__website {
    .title {
      font-size: 18px;
      margin-bottom: 1.5rem;
    }

    .body {
      padding: 0;
    }

    h3 {
      font-size: 18px;
    }
  }
}
