.News__multimedia {
  .wrapper {
    .thumbnail {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      &::after {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        background: url("../images/icons/play-white.svg") no-repeat scroll
          center/ auto 100%;
      }
    }
  }
}

@media only screen and (max-width: 64em) {
  .News__multimedia {
    margin-bottom: var(--space-6);

    .post {
      margin-bottom: var(--space-5);
    }
  }
}
