.News__tags {
  .wrapper {
    .tag-cloud-link {
      font-size: var(--size-text-14) !important;
      color: var(--color-text-darker);
      line-height: 22px;
      padding: var(--space-2) var(--space-3);
      border-radius: var(--radius-small);
      background-color: var(--color-gray-light);
      margin-left: var(--space-4);
      transition: var(--transition);
      margin-bottom: var(--space-3);

      &:hover {
        background-color: var(--color-mofid-green);
        color: var(--color-white);
      }
    }
  }
}

@media only screen and (max-width: 64em) {
  .News__tags {
    .wrapper {
      flex-direction: column;
      align-items: flex-start;

      span {
        margin-bottom: var(--space-4);
      }
    }
  }
}
