.Home__other-platforms {
  h2 {
    font-size: var(--size-text-32);
    color: var(--color-text-darker);
  }

  .tab-view {
    .tabs {
      button {
        font-size: var(--size-text-20);
        color: var(--color-text-darker);
        background: transparent;
        border: none;
        border-bottom: 3px solid var(--color-gray-light);
        transition: var(--transition);

        &.active {
          border-color: var(--color-mofid-green);
          color: var(--color-mofid-green);
        }
      }
    }

    .content {
      .tab-view-item {
        display: none;

        &.active {
          display: inherit;
        }

        p {
          font-size: var(--size-text-16);
          color: var(--color-mofid-blue-darker);
          line-height: var(--size-line-height-26);
          width: 700px;
          max-width: 100%;
        }

        .items {
          li {
            font-size: var(--size-text-16);
            color: var(--color-mofid-blue-darker);

            &::before {
              content: "";
              width: 18px;
              height: 18px;
              border-radius: 50%;
              margin-left: var(--space-2);
              background: var(--color-mofid-green)
                url("../images/icons/check-white.svg") no-repeat scroll center;
            }
          }
        }

        .footer {
          .more {
            color: var(--color-mofid-blue-dark);

            &::after {
              content: "";
              width: 10px;
              height: 10px;
              margin-right: var(--space-2);
              background: url("../images/icons/arrow-left.svg") no-repeat scroll
                center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .Home__other-platforms {
    h2 {
      font-size: var(--size-text-20);
    }
    .cover {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .tab-view {
      .content {
        .tab-view-item {
          .items {
            width: 100%;
            flex-wrap: wrap;

            li {
              width: 50%;
              margin: var(--space-2) 0;
            }
          }
        }
      }

      .tabs {
        button {
          font-size: var(--size-text-16);
        }
      }
    }
  }
}
