.Home__pros {
  .right {
    .top-box {
      width: 560px;
      max-width: 100%;

      h2 {
        font-size: var(--size-text-32);
        color: var(--color-text-darker);
      }

      h3 {
        font-size: var(--size-text-18);
        color: var(--color-text-darker);
        font-weight: normal;
      }

      p {
        font-size: var(--size-text-16);
        color: var(--color-text-medium);
        line-height: var(--size-line-height-26);
      }

      .footer {
        .more {
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            background: url("../images/icons/arrow-left.svg") no-repeat scroll
              center;
            margin-right: var(--space-2);
          }
        }
      }
    }

    .pros-box {
      width: 560px;
      max-width: 100%;

      h3 {
        font-size: var(--size-text-20);
        color: var(--color-text-darker);
        font-weight: bold;
      }

      .pros {
        .item {
          position: relative;

          .progress {
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: var(--color-gray);

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 0;
              background-color: var(--color-mofid-blue);
              top: 0;
              right: 0;
            }
          }

          .content {
            h3 {
              font-size: var(--size-text-18);
              font-weight: bold;
              color: var(--color-text-light);
              transition: var(--transition);
            }

            p {
              font-size: var(--size-text-16);
              line-height: var(--size-line-height-26);
              color: var(--color-text-medium);
              opacity: 0;
              visibility: hidden;
              height: 0;
              overflow: hidden;
              transition: var(--transition);
            }
          }

          &.active {
            .progress {
              &::before {
                animation-name: pros-progress;
                animation-duration: 7000ms;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                animation-iteration-count: 1;
              }
            }

            .content {
              h3 {
                color: var(--color-mofid-blue-dark);
              }

              p {
                opacity: 1;
                visibility: visible;
                height: inherit;
              }
            }
          }
        }
      }
    }
  }

  .left {
    .cover-image {
      img {
        height: auto;
        border-radius: var(--radius-small);
      }
    }
  }
}

@keyframes pros-progress {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .Home__pros {
    .left {
      .cover-image {
        width: 100%;
        height: auto;
      }
    }

    .right {
      .top-box {
        h2 {
          font-size: 20px;
          text-align: center;
        }

        h3 {
          font-size: 16px;
          text-align: center;
        }

        p {
          font-size: 14px;
          text-align: center;
          color: var(--color-text-medium);
        }
      }
    }

    .footer {
      flex-wrap: wrap;
      justify-content: center;

      > a {
        margin-left: 0;
        margin-bottom: var(--space-4);
      }
    }
  }
}
