.Home__slider {
  width: 100%;
  position: relative;

  .background {
    img {
      height: auto;
    }
  }

  .background-mobile {
    display: none;

    img {
      height: auto;
    }
  }

  .cover {
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(0, 36, 60, 0.8) 0%,
      rgba(0, 76, 106, 0) 100%
    );

    h2 {
      color: white;
    }

    p {
      width: 360px;
      max-width: 100%;
      color: #eee;
    }
  }
}

@media only screen and (max-width: 576px) {
  .Home__slider {
    margin-top: 0;

    .background {
      display: none;
    }

    .background-mobile {
      display: inherit;
    }

    .slide {
      border-radius: 0;
    }

    .cover {
      width: 100%;
      padding: var(--space-5) var(--space-4);
      align-items: center;
      background: linear-gradient(
        to top,
        rgba(0, 36, 60, 1) 0%,
        rgba(0, 76, 106, 0) 100%
      );

      h2 {
        font-size: var(--size-text-20);
        text-align: center;
      }

      p {
        font-size: var(--size-text-14);
        text-align: center;
      }
    }
  }
}
