.Branches__top {
  .inner {
    height: 530px;
    background: url("../images/top-cover.png") no-repeat scroll left center/
      auto 100%;
  }

  .wrapper {
    width: 450px;
    max-width: 100%;
  }
}
