<section class="HomeLearning py-8">
    <div class="container">
        <div class="tab-view mx-auto mb-7">
            <h3 class="mb-6 text-center">آموزش معاملات</h3>
            <div class="row">
                <div class="col-lg-3 col-xs-12 flex-column tabs">
                    <button class="flex-column align-start mb-5 active" data-date-id="1">
                        <span class="day mb-1">شنبه</span>
                        <span class="date">۲۶ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="2">
                        <span class="day mb-1">یکشنبه</span>
                        <span class="date">۲۷ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="3">
                        <span class="day mb-1">دوشنبه</span>
                        <span class="date">۲۸ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="4">
                        <span class="day mb-1">سه شنبه</span>
                        <span class="date">۲۹ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="5">
                        <span class="day mb-1">چهارشنبه</span>
                        <span class="date">۳۰ اردیبهشت</span>
                    </button>
                </div>
                <div class="col-lg-9 col-xs-12 flex-column">
                    <a class="class-item flex py-3 active" data-date-id="1" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/dist/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 1</span>
                            <span class="level">مبتدی</span>

                            <span class="Button gray absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                    <a class="class-item flex py-3 active" data-date-id="2" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/dist/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 2</span>
                            <span class="level">مبتدی</span>

                            <span class="Button gray absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                    <a class="class-item flex py-3 active" data-date-id="3" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/dist/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 3</span>
                            <span class="level">مبتدی</span>

                            <span class="Button gray absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="data-boxes row">
            <div class="col-lg-6 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-articles radius-full ml-3"></span>
                        <h3>مقالات</h3>
                    </div>
                    <p class="mb-5">
                        هم اکنون بیش از ۴۶۰ مقاله آموزشی در سه سطح مبتدیُ نیمه حرفه ای و حرفه ای در وبسایت آموزشی مفید در دسترس است.
                    </p>
                    <a class="more flex align-center" href="#">بیشتر بدانید</a>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-courses radius-full ml-3"></span>
                        <h3>دوره ها</h3>
                    </div>
                    <p class="mb-5">
                        با مراجعه به وبسایت آموزشی مفید، میتوانید دوره های آموزشی ضبط شده را به صورت رایگان مشاهده کنید.
                    </p>
                    <a class="more flex align-center" href="#">بیشتر بدانید</a>
                </div>
            </div>   
        </div>
    </div>
</section>
