<div class="StickyHeader sticky top-0 mb-6">
    <div class="container">
        <div class="wrapper flex align-center py-3">
            <img class="logo" src="{{ theme.link }}/assets/images/logo-darayi.svg" />
            <div class="navigation flex align-center mr-auto">
                <a class="px-3" href="#TradesGrids">سامانه‌های معاملاتی</a>
                <a class="px-3" href="#services">خدمات معاملاتی</a>
                <a class="px-3" href="#TradesSingleBlock">بورس ویو</a>
                <a class="px-3" href="#TradesAtiBlock">معاملات آتی</a>
            </div>
        </div>
    </div>
</div>
