<section class="TradesGrids mb-7">
    <div class="container">
        <div class="flex-column">
            <h2 class="t-24 text-darker text-center mb-6">سامانه های معاملاتی مفید</h2>
            <div class="wrapper">
                <div class="row">
                    <div class="grid-item col-lg-12 mb-4">
                       <div class="inner first flex-column overflow-hidden radius-small shadow-small-center">
                            <img class="cover w-100 h-auto" src="{{ theme.link }}/dist/images/pages/trades/EasyTrader-App.jpg">
                            <img class="cover mobile w-100 h-auto" src="{{ theme.link }}/dist/images/pages/trades/EasyTrader-App-mobile.jpg">
                            <div class="content fixed-height flex">
                                <div class="right flex-column p-7">
                                    <h3 class="t-20 text-darker mb-4">ایزی تریدر</h3>
                                    <p class="t-16 lh-26 text-medium mb-5">
                                        ایزی تریدر یکی از قدرتمند ترین سامانه های معاملاتی است که هم افراد حرفه ای 
                                        و هم افراد مبتدی می توانند به راحتی از آن استفاده کنند.
                                    </p>
                                    <div class="footer flex align-center">
                                        <a href="#" class="Button blue medium ml-5">ورود به سامانه</a>
                                        <a href="#" class="more flex align-center t-14">بیشتر بدانید</a>
                                    </div>
                                </div>
                                <div class="left flex align-center justify-center">

                                </div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-6 col-md-12 mb-4">
                       <div class="inner flex-column justify-space-between bg-white py-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-20 text-darker mb-5 text-center">آنلاین پلاس</h3>
                            <img class="cover onlinePlus w-100 h-auto" src="{{ theme.link }}/dist/images/pages/trades/OnlinePlus-App.png">
                            <div class="content flex-column align-center p-6">
                                <p class="t-16 lh-26 text-medium mb-5">
                                    ایزی تریدر یکی از قدرتمند ترین سامانه های معاملاتی است که هم افراد حرفه ای 
                                    و هم افراد مبتدی می توانند به راحتی از آن استفاده کنند.
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <a href="#" class="Button blue medium ml-5">ورود به سامانه</a>
                                    <a href="#" class="more flex align-center t-14">بیشتر بدانید</a>
                                </div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-6 col-md-12 mb-4">
                       <div class="inner flex-column bg-white py-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-20 text-darker mb-5 text-center">مفید تریدر</h3>
                            <img class="cover mofidTrader w-100 h-auto" src="{{ theme.link }}/dist/images/pages/trades/MofidTrader-App.png">
                            <div class="content flex-column align-center p-6">
                                <p class="t-16 lh-26 text-medium mb-5">
                                    ایزی تریدر یکی از قدرتمند ترین سامانه های معاملاتی است که هم افراد حرفه ای 
                                    و هم افراد مبتدی می توانند به راحتی از آن استفاده کنند.
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <a href="#" class="Button blue medium ml-5">ورود به سامانه</a>
                                    <a href="#" class="more flex align-center t-14">بیشتر بدانید</a>
                                </div>
                            </div>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
