<section class="TradesTop mb-8">
    <div class="container-sm">
        <div class="flex-column">
            <div class="icons flex justify-space-between mb-7">
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-1 mb-3"></span>
                    <span class="label t-14 text-darker">سامانه معاملاتی</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-2 mb-3"></span>
                    <span class="label t-14 text-darker">تخفیف کارمزد</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-3 mb-3"></span>
                    <span class="label t-14 text-darker">حامی</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-4 mb-3"></span>
                    <span class="label t-14 text-darker">پیشنهاد سهام</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-5 mb-3"></span>
                    <span class="label t-14 text-darker">بسته های اعتباری</span>
                </div>
            </div>
            <h1 class="t-24 text-darker text-center mb-4">خدمات معاملاتی مفید</h1>
            <div class="texts flex-column align-center">
                <p class="t-16 lh-26 text-medium text-center mb-5">
                    اگر تمایل دارید خودتان به صورت مستقیم به خرید و فروش سهام شرکت ها بپردازید. ما با ارائه خدمات متنوع مانند 
                    سامانه معاملاتی حرفه ای، پیشنهاد سهام، پشتیبانی 24 ساعته، تخفیف کارمزد، بسته های اعتباری و سامانه تحلیل بازار سرمایه
                    در کنار شما هستیم.
                </p>
                <a class="Button medium">دریافت کد بورسی</a>
            </div>
        </div>
    </div>
</section>
