<section class="TradesSingleBlock mb-6">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-20 text-darker mb-3">بورس ویو</h3>
                        <p class="t-16 text-dark mb-5">
                            در سامانه بورس ویو، اطلاعات مربوط به بازار سرمایه را با بیشترین دقت و در
                            سریعترین زمان ممکن مشاهده میکنید.
                        </p>
                        <ul class="mb-6">
                            <li class="t-13 text-dark flex align-center mb-3">نمایش نسبت های مالی شرکت ها و صنایع مختلف</li>
                            <li class="t-13 text-dark flex align-center">فیلتر نویسی تکنیکال و بنیادی بدون نیاز به کدنویسی</li>
                        </ul>
                        <div class="footer flex">
                            <a class="more flex align-center" href="#">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12">
                    <img class="cover" src="{{ theme.link }}/assets/images/pages/trades/BourseView-App.png">
                </div>
            </div>
        </div>
    </div>
</section>
