<section class="TradesAtiBlock py-7" id="TradesAtiBlock">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-5 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-24 text-darker mb-6">معاملات آتی</h3>
                        <p class="t-16 text-dark mb-4">
                            با قرارداد آتی می‌توانید دارایی خود را در زمان معینی در آینده و با قیمتی مشخص خرید و فروش کنید. قراردادهای آتی شامل محصولات کشاورزی، فلزات گران‌بها، دارایی‌های مالی، کالا و… هستند.
                        </p>
                        <div class="footer flex">
                            <a class="more flex align-center" href="#">کسب اطلاعات بیشتر</a>
                        </div>
                        
                    </div>
                </div>
                <div class="left col-lg-7 col-xs-12 flex justify-end align-center">
                    <div class="inner">
                        <div class="flex justify-end">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-1.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-2.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-3.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
