<section class="TradesTabs mb-6">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-7">سایر خدمات معاملاتی کارگزاری مفید</h2>
            <div class="cover-content mb-5 flex justify-center">
                <img src="{{ theme.link }}/dist/images/pages/trades/hami.png" data-content-type="1" data-content-id="1">
                <img src="{{ theme.link }}/dist/images/pages/trades/hami.png" data-content-type="1" data-content-id="2">
                <img src="{{ theme.link }}/dist/images/pages/trades/hami.png" data-content-type="1" data-content-id="3">
                <img src="{{ theme.link }}/dist/images/pages/trades/hami.png" data-content-type="1" data-content-id="4">
            </div>
            <div class="tabs flex-column">
                <div class="head flex justify-center hide-scrollbar">
                    <div class="inner flex cursor-pointer">
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="1">حامی</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="2">اعتبار</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="3">سهام پیشنهادی</div>
                        <div class="tab flex-1 text-center" data-tab-type="1" data-tab-id="4">تخفیف کارمزد</div>
                    </div>
                </div>
                <div class="contents">
                    <div class="content py-4" data-content-type="1" data-content-id="1">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                با وجود طرح حامی، مانده حساب شما نزد کارگزاری مفید بلا استفاده نخواهد بود و به آن سود روزشمار تعلق میگیرد.
                            <p>
                            <a class="more flex align-center" href="#">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="2">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                با وجود طرح حامی، مانده حساب شما نزد کارگزاری مفید بلا استفاده نخواهد بود و به آن سود روزشمار تعلق میگیرد.
                            <p>
                            <a class="more flex align-center" href="#">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="3">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                با وجود طرح حامی، مانده حساب شما نزد کارگزاری مفید بلا استفاده نخواهد بود و به آن سود روزشمار تعلق میگیرد.
                            <p>
                            <a class="more flex align-center" href="#">بیشتر بدانید</a>
                        </div>
                    </div>
                    <div class="content py-4" data-content-type="1" data-content-id="4">
                        <div class="flex-column align-center">
                            <p class="t-16 lh-26 text-darker mb-5">
                                با وجود طرح حامی، مانده حساب شما نزد کارگزاری مفید بلا استفاده نخواهد بود و به آن سود روزشمار تعلق میگیرد.
                            <p>
                            <a class="more flex align-center" href="#">بیشتر بدانید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
