.TabBarItem {
    border-bottom: 2px solid var(--color-gray-2);

    &.active {
        border-bottom-color: var(--color-mofid-green);

        span {
            color: var(--color-mofid-green);
        }
    }

    img {
        width: 22px;
        height: 22px;
    }
}