<section class="ContactCards mb-8">
    <div class="container-sm">
        <div class="wrapper flex-column">
            <h2 class="t-24 text-darker text-center mb-7">راه‌های ارتباطی با کارگزاری مفید</h2>
            <div class="cols flex justify-space-between">
                <div class="col flex-column">
                    <div class="box phone flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">تلفن</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به بیش از ۵۰۰۰ تماس روزانه</span>
                        <a class="value w-100 text-center text-darker t-16 lh-26 py-2" href="tel:0218700">۰۲۱-۸۷۰۰</a>
                    </div>
                </div>
                <div class="col flex-column">
                    <div class="box chat flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">چت آنلاین</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به بیش از ۳۰۰۰ پیام روزانه</span>
                    </div>
                </div>
                <div class="col flex-column">
                    <div class="box mail flex-column align-center bg-white radius-small shadow-small-center mb-4">
                        <div class="circle-icon radius-full mb-4"></div>
                        <span class="title t-16 lh-26 text-darker mb-2">ایمیل</span>
                        <span class="caption t-14 lh-26 text-medium mb-5">پاسخگویی به بیش از ۱۰۰ ایمیل روزانه</span>
                        <a class="value w-100 text-center text-darker t-16 lh-26 py-2 ltr" href="mailto:8700@emofid.com">8700@emofid.com</a>
                    </div>
                </div>
            </div>
            <div class="others flex justify-space-between">
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="http://learning.emofid.com/support">صفحه پشتیبانی</a>
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="https://instagram.com/mofidsecurities">شبکه‌های اجتماعی</a>
                <a class="small-box radius-small bg-white t-14 lh-26 py-3 shadow-small-center flex justify-center align-center" href="https://learning.emofid.com">سایت آموزش کارگزاری مفید</a>
            </div>
        </div>
    </div>
</section>
