<footer id="footer" class="Footer">
    <div class="up">
        <div class="container">
            <div class="wrapper flex py-4">
                <div class="support flex">
                    <span class="label">مرکز خدمات و پشتیبانی و تماس مفید</span>
                    <span class="phone mr-6"><a href="tel:+982191008700">۰۲۱-۹۱۰۰۸۷۰۰</a></span>
                    <img src="{{theme.link}}/assets/images/footer-up-247.svg" class="247 mr-2" width="29" height="24" alt="247">
                </div>
                <div class="caption mr-auto">۲۴ ساعته در ۷ روز هفته</div>
            </div>
        </div>
    </div>
    <div class="middle pt-6">
        <div class="container">

            <div class="wrapper row">
                <div class="col-lg-3 col-xs-12">
                    <div class="title mb-4">درباره مفید</div>
                    <ul class="menu flex-column">
                        <li class="mb-3"><a href="https://next.emofid.com/about/">درباره مفید</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/branches/">شعب و دفاتر</a></li>
                        <li class="mb-3"><a href="https://learning.emofid.com/question/">سوالات متداول</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/bankaccounts/">شماره حساب های مفید</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/job/">فرصت های شغلی</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <div class="title mb-4">سرمایه گذاری</div>
                    <ul class="menu flex-column">
                        <li class="mb-3"><a href="http://next.emofid.com/investment">مدیریت دارایی</a></li>
                        <li class="mb-3"><a href="http://next.emofid.com/funds">صندوق های سرمایه گذاری</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/forms/investmentform/">درخواست مشاوره</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <div class="title mb-4">معاملات</div>
                    <ul class="menu flex-column">
                        <li class="mb-3"><a href="https://o.emofid.com/kala">معاملات بورس کالا</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/ati">معاملات آتی کالا</a></li>
                        <li class="mb-3"><a href="http://o.emofid.com/kala/KalaEnergyBourseRepository/">معاملات بورس انرژی</a></li>
                        <li class="mb-3"><a href="https://marketwatch.emofid.com/marketview/">تابلوی قیمت چرخشی</a></li>
                        <li class="mb-3"><a href="https://marketwatch.emofid.com/topofmarket/">اولین های بازار</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <div class="title mb-4">دسترسی سریع</div>
                    <ul class="menu flex-column">
                        <li class="mb-3"><a href="https://easytrader.emofid.com/">ورود به ایزی تریدر</a></li>
                        <li class="mb-3"><a href="https://pellekan.emofid.com/">ورود به پلکان</a></li>
                        <li class="mb-3"><a href="https://online.emofid.com/">ورود به آنلاین پلاس</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/trades/platforms/mofidtrader/">دانلود مفید تریدر</a></li>
                        <li class="mb-3"><a href="http://www.bourseview.com/">سایت بورس ویو</a></li>
                        <li class="mb-3"><a href="https://bambo.app/?utm_source=emofid&utm_medium=footer&utm_campaign=backlink">بامبو</a></li>
                        <li class="mb-3"><a href="https://www.emofid.com/sahameedalat/">سهام عدالت</a></li>
                        <li class="mb-3"><a href="https://learning.emofid.com/">سایت آموزش</a></li>
                    </ul>
                </div>
            </div>

            <div class="float-widget py-6 mt-3 flex align-center">
                <div class="socials flex">
                    <a class="instagram ml-3" href="#"></a>
                    <a class="linkedin ml-3" href="#"></a>
                    <a class="telegram ml-3" href="#"></a>
                </div>

                <div class="email flex-column align-center mr-8">
                    <span class="label mb-2">پست الکترونیک</span>
                    <span class="value ltr">8700@emofid.com</span>
                </div>

                <div class="flex-column newsletter mr-auto relative">
                    <input class="py-2 px-3" type="text" placeholder="برای دریافت خبرنامه ایمیل خود را وارد نمایید">
                    <button class="absolute">دریافت خبرنامه</button>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom flex justify-center py-5">
        <p>
            کپی رایت ۱۴۰۰. کلیه حقوق این سایت متعلق به کارگزاری مفید میباشد.
            <span class="version">ورژن {{ function('get_current_version') }}</span>
        </p>
    </div>
</footer>
{{function('wp_footer')}}
