<div class="HeaderAuth mr-auto flex align-center">
    <a class="easy-trader flex align-center ml-4" href="https://d.easytrader.emofid.com/">ایزی تریدر</a>
    <button class="search-btn ml-2 flex" aria-label="Search Button"></button>
    <a class="Button outline ml-1" href="https://my.emofid.com/">ورود</a>
    <a class="Button" href="https://account.emofid.com/connect/signup?client_id=RegWebApp&redirect_uri=https://reg.emofid.com/">دریافت کد بورسی</a>
</div>
