<div class="HeaderAuth mr-3 flex align-center">
    <a class="Button blue outline small ml-1" href="https://my.emofid.com/">ورود</a>
    <a class="Button blue small" href="https://account.emofid.com/connect/signup?client_id=RegWebApp&redirect_uri=https://reg.emofid.com/">دریافت کد بورسی</a>
</div>
