<form id="header-search" class="HeaderSearch" action="{{ site.link }}" autocomplete="off">
    <input id="header-search-input" type="text" name="s" value="{{ keyword }}" placeholder="عبارت مورد نظر خود را جستجو کنید" />
    <button type="submit">جستجو کن</button>
    <div class="dropdown flex-column">
        <div id="search-results-wrapper" class="dropdown-inner flex-column"></div>
    </div>
</form>
