<section class="LearningGrids pt-7 pb-8">
    <div class="container">
        <div class="flex-column align-center">
            <h2 class="mb-5">کلاس‌های آموزشی رایگان</h2>
            <p class="mb-7 text-center">
                ‌سامانه آموزش کارگزاری مفید برای ارائه آموزش کاربردی و ساده به تمام سرمایه‌گذاران ایران به صورت کاملا رایگان و فراگیر راه‌اندازی
                شده است. در این سامانه کلاس‌های آنلاین روزانه، دوره‌های ویدیویی آموزشی و صدها مقاله
                در حوزه‌های مختلف بازار سرمایه تهیه و منتشر شده است.
            </p>
        </div>
        <div class="tab-view mx-auto mb-7">
            <h3 class="mb-6 text-center">کلاس های آموزشی روزانه رایگان</h3>
            <div class="row">
                <div class="col-lg-3 col-xs-12 flex-column tabs">
                    <button class="flex-column align-start mb-5 active" data-date-id="1">
                        <span class="day mb-1">شنبه</span>
                        <span class="date">۲۶ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="2">
                        <span class="day mb-1">یکشنبه</span>
                        <span class="date">۲۷ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="3">
                        <span class="day mb-1">دوشنبه</span>
                        <span class="date">۲۸ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="4">
                        <span class="day mb-1">سه شنبه</span>
                        <span class="date">۲۹ اردیبهشت</span>
                    </button>
                    <button class="flex-column align-start mb-5" data-date-id="5">
                        <span class="day mb-1">چهارشنبه</span>
                        <span class="date">۳۰ اردیبهشت</span>
                    </button>
                </div>
                <div class="col-lg-9 col-xs-12 flex-column">
                    <a class="class-item flex py-3 active" data-date-id="1" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/assets/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 1</span>
                            <span class="level">مبتدی</span>

                            <span class="Button outline small absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                    <a class="class-item flex py-3 active" data-date-id="2" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/assets/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 2</span>
                            <span class="level">مبتدی</span>

                            <span class="Button outline small absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                    <a class="class-item flex py-3 active" data-date-id="3" href="#">
                        <div class="image flex align-center">
                            <img class="radius-small" src="{{theme.link}}/assets/images/demo/class.jpg" />
                        </div>
                        <div class="content flex-column justify-center pr-3 flex-1 relative">
                            <span class="time flex align-center mb-2">۱۰:۰۰ تا ۱۲:۰۰</span>
                            <span class="title mb-2">آشنایی با تحلیل تکنیکال مقدماتی 3</span>
                            <span class="level">مبتدی</span>

                            <span class="Button outline small absolute view flex align-center">مشاهده</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="data-boxes row">
            <div class="col-lg-6 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-articles radius-full ml-3"></span>
                        <h3>مقالات</h3>
                    </div>
                    <p class="mb-5">
                        بیش از 1000 مطلب آموزشی در سه سطح مبتدی، نیمه‌حرفه‌ای و حرفه‌ای در رابطه با موضوعات مختلف بازار سرمایه در سامانه آموزش مفید در دسترس است.
                    </p>
                    <a class="more flex align-center" href="https://learning.emofid.com/articles/">آرشیو مطالب آموزشی</a>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 px-4">
                <div class="box radius-small p-5">
                    <div class="top flex align-center mb-5">
                        <span class="icon icon-courses radius-full ml-3"></span>
                        <h3>دوره‌های ویدیویی</h3>
                    </div>
                    <p class="mb-5">
                        با مراجعه به سامانه آموزش کارگزاری مفید می‌توانید دوره‌های ویدیویی آموزشی با موضوعات تخصصی بازار سرمایه را به صورت ساده و رایگان مشاهده کنید.
                    </p>
                    <a class="more flex align-center" href="https://learning.emofid.com/course/">لیست کامل دوره‌ها</a>
                </div>
            </div>   
        </div>
    </div>
</section>
