<section class="StatisticsCircles py-8">
    <div class="container">
        <div class="flex justify-center">
            <div class="row wrapper">
                <div class="circle-item col-lg-4 col-xs-6 flex-column align-center">
                    <div class="circle circle-1 radius-full mb-5"></div>
                    <div class="label text-center">بیش از ۳۴ هزار میلیارد تومان دارایی تحت مدیریت</div>
                </div>
                <div class="circle-item col-lg-4 col-xs-6 flex-column align-center">
                    <div class="circle circle-2 radius-full mb-5"></div>
                    <div class="label text-center">۱۰۰۰ نیروی متخصص</div>
                </div>
                <div class="circle-item col-lg-4 col-xs-6 flex-column align-center">
                    <div class="circle circle-3 radius-full mb-5"></div>
                    <div class="label text-center">بیش از ۵,۰۰۰ نقطه ارائه خدمت در سراسر کشور</div>
                </div>
            </div>
        </div>
    </div>
</section>
