.ModalServices {
  width: 500px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-gray-2);

  .label {
    width: 120px;
  }

  .items {
    margin-bottom: 10px;

    li {
      i {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--color-error);
        margin-left: var(--space-2);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 11px;
          background-color: var(--color-white);
          left: 9px;
          transform: rotate(45deg);
          top: 4px;
        }

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 11px;
          background-color: var(--color-white);
          top: 4px;
          left: 9px;
          transform: rotate(-38deg);
        }
      }

      &.has {
        i {
          background-color: var(--color-success);

          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 11px;
            background-color: var(--color-white);
            left: 11px;
            transform: rotate(45deg);
            top: 4px;
          }

          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 5px;
            background-color: var(--color-white);
            top: 8px;
            left: 6px;
            transform: rotate(-38deg);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ModalServices {
    .wrapper {
      flex-direction: column;
    }
    .label {
      width: 100%;
      margin-bottom: var(--space-3);
      text-align: right;
      padding: 0 var(--space-5);
    }
    .items {
      padding: 0 var(--space-5);
    }
  }
}
