.SinglePost__content {
  .details {
    > div {
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        margin-left: var(--space-2);
      }
    }

    .time {
      &::before {
        background: url("../images/icons/calendar.svg") no-repeat scroll center/
          auto 100%;
      }
    }

    .view {
      &::before {
        background: url("../images/icons/view.svg") no-repeat scroll center/
          100% auto;
      }
    }
  }

  .content {
    p {
      margin-bottom: var(--space-3);
    }
  }

  .utils {
    .download-image {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        margin-left: var(--space-2);
        background: url("../images/icons/download-green.svg") no-repeat scroll
          center/ 100% auto;
      }
    }
  }
}

@media only screen and (max-width: 48em) {
  .SinglePost__content {
    h1 {
      font-size: 16px;
    }

    .content {
      p {
        font-size: var(--size-text-14);
      }
    }
  }
}
