.ModalContacts {
  width: 500px;
  max-width: 100%;
  border-bottom: 1px solid var(--color-gray-2);

  .workHours {
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      margin-left: var(--space-2);
      background: url("../../../../../images/icons/watch.svg") no-repeat scroll
        center/ 100% auto;
    }
  }

  .phone {
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background: url("../../../../../images/icons/phone-gray.svg") no-repeat
        scroll center/ 100% auto;
      margin-left: var(--space-2);
    }
  }

  .fax {
    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background: url("../../../../../images/icons/print.svg") no-repeat scroll
        center/ 100% auto;
      margin-left: var(--space-2);
    }
  }

  .telegram {
    color: #039be5;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background: url("../../../../../images/icons/social/telegram-colorful.svg")
        no-repeat scroll center / 100% auto;
      margin-left: var(--space-2);
    }
  }

  .whatsapp {
    color: #4caf50;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      background: url("../../../../../images/icons/social/whatsapp-colorful.svg")
        no-repeat scroll center / 100% auto;
      margin-left: var(--space-2);
    }
  }
}

@media only screen and (max-width: 768px) {
  .ModalContacts {
    padding: 0 var(--space-5);

    .socialsWrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    .telegram {
      border: 1px solid #039be5;
      padding: var(--space-2) var(--space-3);
      border-radius: 20px;
      margin: 0;
    }

    .whatsapp {
      border: 1px solid #4caf50;
      padding: var(--space-2) var(--space-3);
      border-radius: 20px;
      margin: 0;
    }
  }
}
