<section class="Trades__ati py-7" id="TradesAtiBlock">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-5 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-24 text-darker mb-6">معاملات آتی</h3>
                        <p class="t-16 text-dark mb-4">
                            در قرارداد آتی دو طرف معامله متعهد می‌شوند تا در زمان سررسید، مقداری از یک کالا با استاندارد تعیین شده را میان یکدیگر مبادله کنند. به بیان دیگر تمامی توافق‌ها در زمان حال، اما معامله در زمان آینده صورت می‌گیرد.  قراردادهای آتی شامل محصولات کشاورزی، فلزات گران‌بها، دارایی‌های مالی، کالا و… هستند.
                        </p>
                        <ul class="mb-3">
                            <li class="t-13 text-dark flex align-center mb-3">پوشش ریسک</li>
                            <li class="t-13 text-dark flex align-center mb-3">کارمزد اندک معاملات</li>
                            <li class="t-13 text-dark flex align-center mb-3">بازار دو طرفه</li>
                            <li class="t-13 text-dark flex align-center mb-3">تسویه حساب روزانه</li>
                        </ul>
                        <div class="footer flex">
                            <a class="more flex align-center" href="https://www.emofid.com/ati">اطلاعات بیشتر</a>
                        </div>
                        
                    </div>
                </div>
                <div class="left col-lg-7 col-xs-12 flex justify-end align-center">
                    <div class="inner">
                        <div class="flex justify-end">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-1.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-2.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-3.jpg">
                            <img class="item radius-small mx-2" src="{{ theme.link }}/assets/images/pages/trades/ati-4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
