<section class="Trades__grids mb-7 mt-7" id="TradesGrids">
    <div class="container-sm trade-grids-header">
        <div class="flex-column align-center">
            <h2 class="t-24 text-darker text-center mb-5">سامانه‌های معاملاتی کارگزاری مفید</h2>
            <p class="mb-6 t-16 text-center lh-26 text-medium">
                کارگزاری مفید با فراهم کردن سامانه‌های معاملاتی مختلف، مسیر تحلیل و معاملات را برای افراد با سلایق مختلف هموار کرده است. این سامانه‌ها با دریافت بروزرسانی‌های مداوم، جدیدترین امکانات را در اختیار کاربران قرار می‌دهند. همچنین داشتن سامانه‌ها متعدد باعث ایجاد آسودگی خاطر کاربران خواهد شد چرا که در صورت اختلال در یکی از آن‌ها، می‌توان به سرعت از سامانه دیگری استفاده کرد.
            </p>
        </div>
    </div>
    <div class="container trade-grids-content">
        <div class="flex-column">
            <div class="wrapper">
                <div class="row">
                    <div class="grid-item col-lg-12 mb-4">
                       <div class="inner first flex-column overflow-hidden radius-small shadow-small-center">
                            <img class="cover w-100 h-auto" src="{{ theme.link }}/assets/images/pages/trades/EasyTrader-App.jpg">
                            <img class="cover mobile w-100 h-auto" src="{{ theme.link }}/assets/images/pages/trades/EasyTrader-App-mobile.jpg">
                            <div class="content fixed-height flex">
                                <div class="right flex-column p-7">
                                    <h3 class="t-20 text-darker mb-4">ایزی تریدر</h3>
                                    <p class="t-16 lh-26 text-medium mb-5">
                                        ایزی تریدر سامانه معاملاتی اختصاصی کارگزاری مفید است که قابلیت استفاده بر روی موبایل و وب را داراست. این سامانه پرکاربرد، با محیطی ساده امکانات حرفه‌ای را در اختیار معامله‌گران قرار می‌دهد.
                                    </p>
                                    <div class="footer flex align-center">
                                        <a href="http://easytrader.emofid.com/" class="Button green medium ml-5">ورود به ایزی‌تریدر</a>
                                        <a href="https://www.emofid.com/trades/platforms/easytrader/" class="more flex align-center t-14">اطلاعات بیشتر</a>
                                    </div>
                                </div>
                                <div class="left flex align-center justify-center"></div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-6 col-md-12 mb-4">
                       <div class="inner flex-column justify-space-between bg-white py-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-20 text-darker mb-5 text-center">آنلاین پلاس</h3>
                            <img class="cover onlinePlus w-100 h-auto" src="{{ theme.link }}/assets/images/pages/trades/onlineplus.png">
                            <div class="content flex-column align-center p-6">
                                <p class="t-16 lh-26 text-medium mb-5">
                                    آنلاین پلاس دیگر سامانه پرکاربرد کارگزاری مفید است. در آنلاین پلاس تمامی نیازهای اساسی معامله‌گران مورد توجه قرار گرفته است. این سامانه معاملاتی را می‌توان هم بر روی نسخه وب و هم بر روی تلفن همراه استفاده کرد.
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <a href="https://online.emofid.com/" class="Button green medium ml-5">ورود به آنلاین پلاس</a>
                                    <a href="https://learning.emofid.com/introduction-of-online-plus/" class="more flex align-center t-14">اطلاعات بیشتر</a>
                                </div>
                            </div>
                       </div> 
                    </div>
                    <div class="grid-item col-lg-6 col-md-12 mb-4">
                       <div class="inner flex-column bg-white py-5 overflow-hidden radius-small shadow-small-center">
                            <h3 class="t-20 text-darker mb-5 text-center">مفید تریدر</h3>
                            <img class="cover mofidTrader w-100 h-auto" src="{{ theme.link }}/assets/images/pages/trades/mofidtrader.png">
                            <div class="content flex-column align-center p-6">
                                <p class="t-16 lh-26 text-medium mb-5">
                                    سامانه معاملاتی مفید‌تریدر نسخه بومی شده نرم‌افزار معروف متاتریدر است که توسط کارگزاری مفید در اختیار علاقه‌مندان قرار گرفته است. متاتریدر یکی از محبوب‌ترین سـامانه‌ها برای تحلیل  و انجام معامله در جهان است. این سامانه ابزاری حرفه‌ای برای انجام تحلیل تکنیکال و معامله در کلاس‌ جهانی است.
                                </p>
                                <div class="footer flex justify-center align-center">
                                    <a href="https://my.emofid.com/MofidTrader/Analysis/Index" class="Button green medium ml-5">دانلود مفید‌تریدر</a>
                                    <a href="https://www.emofid.com/trades/platforms/mofidtrader/" class="more flex align-center t-14">اطلاعات بیشتر</a>
                                </div>
                            </div>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
