<section class="Trades__single mb-6" id="TradesSingleBlock">
    <div class="container-md">
        <div class="wrapper">
            <div class="row">
                <div class="right col-lg-6 col-xs-12">
                    <div class="inner flex-column">
                        <h3 class="t-20 text-darker mb-3">بورس ویو</h3>
                        <p class="t-16 text-medium lh-26 mb-5">
                            سامانه تحلیلی بورس ویو ضمن در اختیار گذاشتن اطلاعات مرتبط با تحلیل بنیادی شرکت‌ها همزمان با منتشر شدن آن‌ها در سامانه کدال، ابزاری کاربردی برای تحلیل تکنیکال و تابلوخوانی محسوب می‌شود. با بورس ویو به تمام اطلاعات و ابزار مورد نیاز خود برای تحلیل یک‌جا دسترسی خواهید داشت.
                        </p>
                        <ul class="mb-6">
                            <li class="t-13 text-dark flex align-center mb-3">انواع نمودارها</li>
                            <li class="t-13 text-dark flex align-center mb-3">صورت‌های مالی</li>
                            <li class="t-13 text-dark flex align-center mb-3">اطلاعات بنیادی، تابلوخوانی و تکنیکال نمادها</li>
                            <li class="t-13 text-dark flex align-center mb-3">مشاهده مجامع و اطلاعیه‌ها</li>
                            <li class="t-13 text-dark flex align-center mb-3">نقشه بازار پیشرفته</li>
                        </ul>
                        <div class="footer flex">
                            <a class="more flex align-center" href="https://www.emofid.com/trades/traderassistants/bourseview/">آشنایی بیشتر با بورس ویو</a>
                        </div>
                    </div>
                </div>
                <div class="left col-lg-6 col-xs-12">
                    <img class="cover" src="{{ theme.link }}/assets/images/pages/trades/BourseView-App.png">
                </div>
            </div>
        </div>
    </div>
</section>
