<section class="Trades__top pb-7 mb-7 sep">
    <div class="container-sm">
        <div class="flex-column">
            <h1 class="t-24 text-darker text-center mb-7">خدمات معاملاتی کارگزاری مفید</h1>
            <div class="icons flex justify-space-between mb-7">
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-1 mb-3"></span>
                    <span class="label t-14 text-darker">سامانه‌های معاملاتی متنوع</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-2 mb-3"></span>
                    <span class="label t-14 text-darker">تخفیف کارمزد</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-5 mb-3"></span>
                    <span class="label t-14 text-darker">اعتبار معاملاتی</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-3 mb-3"></span>
                    <span class="label t-14 text-darker">طرح حامی</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-4 mb-3"></span>
                    <span class="label t-14 text-darker">سبد پیشنهادی سهام</span>
                </div>
                <div class="icon-item flex-column align-center">
                    <span class="icon icon-6 mb-3"></span>
                    <span class="label t-14 text-darker">پلکان</span>
                </div>
            </div>
            <div class="texts flex-column align-center" id="services">
                <p class="t-16 lh-26 text-medium text-center mb-5">
                    گر علاقه‌مند به فعالیت و خرید و فروش سهام در بازار سرمایه هستید، کارگزاری مفید با ارائه خدمات متنوع در این حوزه مانند سامانه‌های معاملاتی حرفه‌ای، پشتیبانی ۲۴ ساعته، اعتبار معاملاتی، تخفیف کارمزد، دستیارهای معاملاتی و… شما را در مسیر رسیدن به اهداف مالی مد نظرتان یاری می‌کند.
                </p>
                <a class="Button medium" href="https://account.emofid.com/connect/signup?client_id=RegWebApp&redirect_uri=https://reg.emofid.com/">دریافت رایگان کد بورسی</a>
            </div>
        </div>
    </div>
</section>
